.budget
	+wrapper()
	padding-top: 45px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		margin-bottom: 60px
		text-transform: uppercase

	&__text
		width: 100%
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		margin-bottom: 40px
		p
			+subtitle_1()
			color: $dark
			width: 100%
			max-width: 474px

	&__sign
		+subtitle_3()
		color: $grr
		margin-top: 8px
		margin-bottom: 20px

	&__bottom
		max-width: 502px
		+subtitle_1()
		color: $dark
	&__table
		display: flex
		flex-flow: row nowrap
		width: 100%

		&__main
			display: flex
			flex-flow: column nowrap
			max-width: 300px
			width: 100%
			padding-top: 65px
			span
				padding: 12px 0 
				padding-left: 20px
				+subtitle_1()
				color: $light_grey_2
				background: $dark
				border-bottom: 2px solid $dark_grey

				&:last-child
					border-bottom: 0

		&__columns
			display: flex
			flex-flow: row nowrap
			width: 100%

		&__column
			width: 100%
			max-width: 266px
			display: flex
			flex-flow: column nowrap
			padding-top: 11px
			div
				+subtitle_2()
				color: $dark
				text-align: center
				margin-bottom: 10px
				min-height: 44px
				border-right: 2px solid $light_grey 
				p
					display: inline-block
					color: $blue

			span
				+subtitle_4()
				text-align: center
				padding: 12px 0
				display: flex
				background: $light_grey_2
				min-height: 46px
				color: $blue
				border-right: 2px solid $light_grey
				text-transform: uppercase
				justify-content: center
				align-items: center
				&:nth-child(4),
				&:nth-child(5)
					height: 65px

				&.dark
					color: $dark_blue

			&:last-child
				div,
				span
					border-right: none

	+phone()
		padding-top: 30px

		&__container
			+mobContainer()
			
		h2
			+headline_1_mobile()
			color: $black
			margin-bottom: 30px

		&__text
			flex-flow: column nowrap
			margin-bottom: 30px
			p:first-child
				margin-bottom: 12px

		&__table

			&__main
				padding-top: 70px
				max-width: 165px

				span
					padding-right: 10px	

			&__columns
				min-width: 120px
				max-width: 100%
				overflow-y: scroll

			&__column
				min-width: 95px
				div
					+subtitle_3()
					margin-bottom: 15px

				span
					+subtitle_3()
					padding: 0 5px
					text-transform: none
					&:nth-child(2),
					&:nth-child(5)
						height: 86px
					&:nth-child(3),
					&:nth-child(6)
						height: 66px
					&:nth-child(4)
						height: 106px

					&:last-child
						word-wrap: break-word