.conditions
	+wrapper()
	padding-bottom: 87px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		margin-bottom: 60px

	&__content
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

	&__info
		max-width: 500px
		width: 100%
		display: flex
		flex-flow: column nowrap
		p
			+subtitle_1()
			color: $dark
			margin-bottom: 11px

		span
			+list()

	&__image
		display: flex
		flex-flow: column nowrap
		span
			+subtitle_3()
			color: $grr
			margin-top: 8px

	+phone()

		padding-bottom: 60px

		&__container
			+mobContainer()

		h2
			display: none

		&__content
			flex-flow: column nowrap

		&__image
			order: 1
			margin-bottom: 30px
			img
				width: calc(100% + 40px)
				margin-left: -20px
				max-width: 576px
				object-fit: cover

		&__info
			order: 2
