.description
	+wrapper()
	padding-top: 62px
	padding-bottom: 80px

	&__container
		+container()
	h2
		+headline_2()
		color: $black
		text-transform: uppercase
		margin-bottom: 54px
		span
			color: $blue

	h3
		+headline_3()
		color: $dark
		span
			color: $blue

	&__content
		display: flex
		justify-content: space-between
		margin-bottom: 50px

	&__list
		display: flex
		flex-flow: column nowrap
		max-width: 479px
		width: 100%
		div
			display: flex
			justify-content: space-between
			align-items: flex-start
			margin-bottom: 10px

			&:last-child
				margin-bottom: 0

			span
				+headline_2()
				color: $dark_blue
				
			p
				+subtitle_1()
				color: $dark
				width: 100%
				max-width: 379px
				padding-top: 5px

	&__image
		display: flex
		flex-flow: column nowrap
		span
			margin-top: 8px
			+subtitle_3()
			color: $grr

	+phone()
		padding-top: 33px
		padding-bottom: 30px

		&__container
			+mobContainer()
			
		h2
			+subtitle_2()
			margin-bottom: 23px

		h3
			+headline_1_mobile()
			color: $blue
			br
				display: none

		&__content
			flex-flow: column nowrap
			margin-bottom: 30px

		&__list
			margin-bottom: 32px
			div
				margin-bottom: 20px
				span,
				p
					+headline_1_mobile()
					

				p
					padding-top: 0
					margin-left: 16px

		&__image
			width: calc(100% + 40px)
			margin-left: -20px
			max-width: 576px
			img
				object-fit: cover
			span
				padding-left: 20px
