.distribution
	+wrapper()
	padding-top: 81px
	padding-bottom: 87px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		text-transform: uppercase
		margin-bottom: 60px

	&__content
		display: flex
		flex-flow: row nowrap
		justify-content: space-between

	&__graph
		display: flex
		flex-flow: column nowrap
		width: 100%
		max-width: 498px
		span
			+subtitle_3()
			color: $grr
			margin-top: 70px

	&__info
		display: flex
		flex-flow: column nowrap
		width: 100%
		max-width: 500px
		p
			color: $dark
			padding-left: 50px
			&:first-child
				+subtitle_1()
				margin-bottom: 27px
				max-width: 396px

			&:last-child
				+subtitle_3()
				margin-top: 29px

		img.mobile
			display: none


	+phone()
		padding-top: 60px

		&__container
			+mobContainer()
			
		h2
			+headline_1_mobile()
			margin-bottom: 30px

		&__content
			flex-flow: column nowrap

		&__graph
			margin-bottom: 30px
			img
				width: 100%
			span
				margin-top: 10px


		&__info
			p
				padding-left: 0

			img
				display: none
				&.mobile
					display: block
					width: 280px