.freedom
	+wrapper()
	padding-top: 107px
	padding-bottom: 107px
	background: $dark_blue

	&__container
		+container()
		display: flex
		flex-flow: row wrap
		justify-content: space-between

	&__info
		display: flex
		flex-flow: column nowrap
		max-width: 572px
		width: 100%
		h2
			+headline_2()
			color: $white
			text-transform: uppercase
			margin-bottom: 48px

		p
			+subtitle_1()
			color: $white
			max-width: 463px

	&__image
		display: flex
		flex-flow: column nowrap
		span
			+subtitle_3()
			color: $grr
			margin-top: 8px
	
	+phone()
		padding-top: 30px
		padding-bottom: 30px

		&__container
			flex-flow: column nowrap
			+mobContainer()
			
		&__info
			h2
				+headline_1_mobile()
				margin-bottom: 30px

			p
				margin-bottom: 30px


		&__image
			img
				width: calc(100% + 40px)
				margin-left: -20px
				max-width: 576px
				object-fit: cover

