.help
	+wrapper()
	background: $blue
	padding-top: 42px
	padding-bottom: 54px

	&__container
		+container()

	p
		+subtitle_2()
		color: $white
		margin-bottom: 13px
		position: relative

		&::before
			content: ''
			display: block
			width: 44px
			height: 1px
			background: $light_grey
			position: absolute
			left: -59px
			top: 10px

	a
		+headline_2()
		color: $white
		margin-bottom: 17px

		&:hover
			text-decoration: underline
			

	span
		+subtitle_1()
		color: $white

	+phone()
		padding-top: 50px
		padding-top: 57px

		&__container
			+mobContainer()
			
		p
			+headline_1_mobile()
			margin-bottom: 12px
			max-width: 320px
			br
				display: none
			&::before
				left: -25px
				width: 20px	

		a
			+headline_3()
			margin-bottom: 12px

