.info
	+wrapper()
	padding-top: 80px
	padding-bottom: 75px

	&__container
		+container()

	h2
		+headline_2()
		color: $black
		margin-bottom: 62px
		text-transform: uppercase
		span
			color: $blue

	&__content
		display: flex
		justify-content: space-between

	&__block
		display: flex
		flex-flow: column nowrap
		width: 100%
		max-width: 500px

		&__sign
			+subtitle_3()
			color: $grr
			margin-top: 8px
			margin-bottom: 20px

		h3
			+subtitle_2()
			color: $black
			margin-bottom: 20px

		p
			+subtitle_1()
			color: $dark

		&__list
			+list()

	+phone()
		padding-top: 0
		padding-bottom: 0

		&__container
			+mobContainer()
			
		h2
			display: none

		&__content
			flex-flow: column nowrap

		&__block
			margin-bottom: 30px
			img
				width: calc(100% + 40px)
				margin-left: -20px
				max-width: 576px
				object-fit: cover