.main
	+wrapper()
	
	&__container
		+container()
		padding-bottom: 128px
		padding-top: 67px 
		position: relative
		

	h1
		+headline_1()
		color: $white
		margin-bottom: 45px

	&__blocks
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		position: relative
		p
			max-width: 200px
			width: 100%
			+subtitle_2()
			color: $white

		&::before
			content: ''
			display: block
			width: 44px
			height: 1px
			background: $light_grey
			position: absolute
			top: 10px
			left: -59px

	+phone()
		h1
			+headline_3()
			text-transform: uppercase

		&__container
			padding-top: 53px
			padding-bottom: 52px
			+mobContainer()
			
		&__blocks
			flex-flow: column nowrap
			padding-left: 25px
			p
				margin-bottom: 30px

			&::before
				width: 20px
				left: 0
