.conditions
	+wrapper()
	padding-top: 80px
	padding-bottom: 60px
	background: $light_grey_2
	&__container
		+container()
		align-items: flex-start
	h2
		+headline_2()
		color: $black
		margin-bottom: 60px
		text-transform: uppercase
	&__content
		display: flex
		justify-content: space-between
		img
			height: 350px
	&__list
		position: relative
		min-width: 100%
		span
			+subtitle_2()
			position: absolute
			left: 30px

			&:nth-child(1)
				top: 15px

			&:nth-child(2)
				top: 82px

			&:nth-child(3)
				top: 151px

			&:nth-child(4)
				top: 222px

			&:nth-child(5)
				top: 290px

	+phone()
		padding-top: 30px
		padding-bottom: 30px
		background: $white
		&__container
			+mobContainer()
		h2
			+headline_1_mobile()
			margin-bottom: 30px
			
		img
			display: none

		&__list
			display: flex
			flex-flow: column nowrap
			span
				+list()
				position: sticky