.main
	+wrapper()
	
	&__container
		+container()
		position: relative
		padding-top: 67px
		padding-bottom: 278px
		
	h1
		+headline_1()
		color: $white
		text-transform: uppercase

	+phone()

		&__container
			+mobContainer()
			padding-top: 53px
			padding-bottom: 142px

		h1
			+headline_3()
