.advantages
  +wrapper()
  padding-top: 61px
  padding-bottom: 76px

  &__container
    +container()

  &__info
    +subtitle_2()
    color: $blue
    max-width: 500px
    margin-top: 60px

  h2
    +headline_2()
    text-transform: uppercase
    color: $black
    span
      color: $blue

  h3
    +headline_3()
    margin-bottom: 30px
    color: $dark

  &__text
    +subtitle_1()
    color: $black
    max-width: 400px

  &__blocks
    display: flex
    flex-flow: row nowrap

  &__block
    height: 320px
    width: 100%
    max-width: 276px
    position: relative
    border: 1px solid $grey_5
    img
      height: 100%
      width: 100%
      object-fit: cover

    &__subtitle
      +subtitle_3()
      color: $light_grey_2
      position: absolute
      bottom: 10px
      left: 10px

    &__number
      padding-left: 19px
      +subtitle_4()
      color: $grey_5
      margin-bottom: 11px
      margin-top: 30px
      display: block
      transition: all $as

    h4
      +subtitle_2()
      color: $black
      padding-left: 19px
      margin-bottom: 12px

    &__text
      padding-left: 19px
      +subtitle_1()
      color: $black
      padding-right: 10px
      padding-bottom: 10px

    &:hover
      .advantages__block__number
        color: $blue
        transition: all $as


  +phone()
    padding-top: 30px
    padding-bottom: 30px

    &__container
      +mobContainer()

    h2
      display: none

    h3
      +headline_1_mobile()

    &__info
      margin: 30px 0
      +headline_1_mobile()

    &__blocks
      flex-flow: column nowrap
      align-items: center

    &__block
      height: auto
      max-width: 100%
      border-bottom: none
      border: 1px solid $grey_5
      padding-bottom: 20px
      max-width: 576px
      img
        width: calc(100% + 40px)
        margin-left: -20px
        height: 200px
        object-fit: cover
        max-width: 616px
        margin-bottom: 10px
      span
        color: $grr

      &:nth-child(2)
        border-left: 1px solid $grey_5
        border-bottom: none

      &:nth-child(3)
        border-left: 1px solid $grey_5
        border-bottom: none

      &:nth-child(4)
        border-left: 1px solid $grey_5

