.basic
  +wrapper()
  padding-top: 80px

  &__container
    +container()

  h2
    +headline_2()
    text-transform: uppercase
    margin-bottom: 60px
    span
      color: $blue

  h3
    +headline_3()
    margin-bottom: 30px
    color: $dark

  h4
    +subtitle_2()
    color: $dark
    margin-top: 20px

  &__content
    display: flex
    justify-content: space-between
    flex-flow: row nowrap

  &__h3-mobile
    display: none

  &__text
    display: flex
    flex-flow: column nowrap
    max-width: 500px
    width: calc(50% - 50px)
    p
      +subtitle_1()
      color: $dark

    span
      +list()
      display: block
      margin-top: 12px
      margin-bottom: 0

      &:last-child
        margin-bottom: 12px

  &__image
    display: flex
    flex-flow: column nowrap
    span
      +subtitle_3()
      color: $grr
      margin-top: 8px

  &__gallery
    display: flex
    justify-content: space-between
    max-width: 500px
    width: 100%

    &__image
      display: flex
      flex-flow: column nowrap
      span
        +subtitle_3()
        color: $grr
        margin-top: 8px

      img
        width: calc(100% - 7.5px)


  &__important
    +subtitle_2()
    color: $blue
    max-width: 500px
    margin-top: 30px


  +phone()
    padding-bottom: 0
    padding-top: 60px
    h2
      +subtitle_2()
      margin-bottom: 30px

    h3
      +headline_1_mobile()

    h4
      +headline_1_mobile()

    &__container
      +mobContainer()

    &__content
      flex-flow: column nowrap

    &__text
      order: 1
      width: 100%

    &__image
      order: 0
      margin-bottom: 30px
      width: calc(100% + 40px)
      max-width: 576px
      margin-left: -20px

      img
        object-fit: cover

      span
        margin-left: 20px

    &__gallery
      margin-bottom: 30px

    &__important
      +headline_1_mobile()