=arrow()
  content: ''
  display: block
  width: 33px
  height: 20px
  background: url(../img/page_2/build_arrow.svg) no-repeat center center
  position: absolute
  top: 50%
  margin-top: -10px


.build
  +wrapper()
  padding-bottom: 89px

  &__container
    +container()

  h2
    +headline_2()
    color: $black
    margin-bottom: 39px
    text-transform: uppercase
    span
      color: $blue

  &__subtitle
    +subtitle_2()
    color: $dark
    margin-bottom: 47px

  &__blocks
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-bottom: 40px

  &__block
    width: 100%
    max-width: 299px
    display: flex
    flex-flow: column nowrap
    position: relative
    align-items: flex-start
    div
      +subtitle_2()
      margin-bottom: 10px

    p
      +subtitle_1()
      a
        color: $blue
        font-weight: bold

    div,
    p,
    img:first-child
      color: $dark
      z-index: 1

    img:last-child
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      z-index: 0

    &.second
      &::after,
      &::before
        +arrow()

      &::before
        left: -83px
      &::after
        right: -54px

    &.four
      &::after,
      &::before
        +arrow()

      &::before
        left: -57px
      &::after
        right: -15px

    &.five,
    &.four
      max-width: 500px
      min-height: 257px


  +phone()
    padding-bottom: 0px

    &__container
      +mobContainer()

    h2
      +headline_1_mobile()
      color: $black
      margin-bottom: 30px

    &__subtitle
      +headline_1_mobile()
      margin-bottom: 60px

    &__blocks
      flex-flow: column nowrap
      margin-bottom: 0

    &__block
      margin-bottom: 120px

      &.second,
      &.four
        &::before,
        &::after
          transform: rotate(90deg)

        &::before
          left: 0
          top: -15px
        &::after
          left: 0
          top: calc(100% + 50px)
