.business
  +wrapper()
  padding-top: 80px
  padding-bottom: 80px

  &__container
    +container()

  h2
    +headline_2()
    color: $black
    text-transform: uppercase
    margin-bottom: 60px

  &__content
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

  &__graph
    display: flex
    flex-flow: column nowrap
    margin-top: -25px

  &__info
    display: flex
    flex-flow: column nowrap
    width: 100%
    max-width: 500px

    &__list
      position: relative
      li
        +subtitle_2()
        position: absolute
        left: 0

        &:nth-child(1)
          top: -5px

        &:nth-child(2)
          top: 65px

        &:nth-child(3)
          top: 130px

        &:nth-child(4)
          top: 200px

        &:nth-child(5)
          top: 265px


  +phone()
    padding-top: 30px
    padding-bottom: 0

    &__container
      +mobContainer()

    h2
      +subtitle_2()
      margin-bottom: 30px

    &__content
      flex-flow: column nowrap

    &__graph
      margin-top: 0
      img
        display: none


    &__info
      &__list
        counter-reset: section

        li
          +headline_1_mobile()
          display: flex
          position: initial
          margin-bottom: 20px

          &:first-child
            margin-bottom: 20px

          &:before
            counter-increment: section
            content: counter(section)
            margin-right: 16px
