.guid
  +wrapper()
  background: $dark_blue
  color: $white
  padding: 60px 0
  margin-top: 80px

  &__container
    +container()

  h3
    +headline_3()
    margin-bottom: 18px

  &__content
    display: flex
    justify-content: space-between
    flex-flow: row nowrap

  &__h3-mobile
    display: none

  &__text
    display: flex
    flex-flow: column nowrap
    max-width: 500px
    width: calc(50% - 50px)
    p
      +subtitle_1()
      color: $white

    span
      +list()
      display: block
      color: $white
      margin-top: 12px
      margin-bottom: 0

      &:last-child
        margin-bottom: 12px

  &__image
    display: flex
    flex-flow: column nowrap

    span
      +subtitle_3()
      color: $grr
      margin-top: 8px


  +phone()
    padding-bottom: 42px
    padding-top: 0
    margin-top: 60px

    h3
      display: none

    &__h3-mobile
      +headline_1_mobile()
      display: block

    &__container
      +mobContainer()

    &__content
      flex-flow: column nowrap

    &__text
      order: 1
      width: 100%

    &__image
      order: 0
      margin-bottom: 30px
      width: calc(100% + 40px)
      max-width: 576px
      margin-left: -20px

      img
        object-fit: cover

      span
        margin-left: 20px