.additional__benefits

  &__container
    +container_width()
    padding-bottom: 30px

  &__title
    +subtitle()

  &__subtitle
    font-family: Ubuntu
    font-style: normal
    font-weight: bold
    font-size: 23px
    line-height: 27px
    text-transform: uppercase
    margin-bottom: 30px
    &:last-child
      margin-top: 30px

  &__row
    +flex_row_start()
    flex-wrap: wrap

  &__block
    height: 180px
    width: 33%
    border: $light_grey solid 1px
    &:hover
      background-color: $blue
      color: $white

    img
      margin: 30px 30px 10px 30px
    p
      font-family: Ubuntu
      font-style: normal
      font-weight: 500
      font-size: 18px
      line-height: 23px
      margin: 5px 30px 20px 30px
    &__big
      height: 223px

  +tablet()
    &__block
      +flex_row_start()
      align-items: center
      width: 100%
      height: 100px
      p
        font-weight: 500
        font-size: 15px
        line-height: 20px
        margin: 10px
      img
        margin: 10px
        width: 60px

    &__subtitle
      font-weight: 500
      font-size: 15px
      line-height: 20px

.font__blue
  color: $blue
  cursor: pointer