.block__cost
  padding-bottom: 10px

  &__container
    +flex_row_between()
    border-bottom: #D8DBE8 solid 2px
    align-items: flex-end
    padding-bottom: 10px

  &__text
    +font_300_15()

  &__number
    +flex_row_end()
    align-items: baseline
    white-space: nowrap
    margin-left: 10px

  &__number1
    +font_300_15()
    margin-right: 10px

  &__number2
    +font_bold_23()
    text-transform: uppercase
    +laptop()
      +font_500_18()

  &__number3
    +font_500_18()
    text-transform: uppercase