.chief
  width: 100%
  background-size: cover

  &__container
    padding: 131px 0 167px 0
    position: relative
    color: white
    +container_width()

    +mobile__l()
      padding-top: 50px
      padding-bottom: 50px

  &__title
    +main_title()

  &__description
    +font_500_18()

    +mobile__l()
      font-weight: 500
      font-size: 15px
      line-height: 20px

    &__button
      width: 200px
      height: 50px
      background-color: white
      border-radius: 8px
      color: #1254b5
      +font_500_15()
      &:hover
        background-color: #1254b5
        color: white

      +mobile__l()
        width: 100%

    &__information
      margin: 24px 0 21px 0