.cost

  &__container
    +container_width()

  &__title
    +subtitle()

.pagination
  +flex_row_start()

  &-title
    font-family: Ubuntu
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 20px
    margin-right: 63px

  //&__information
  //  &__row
  //    +flex_row_between()
  //    border-bottom: $grr solid 1px
  //    align-items: center
  //  &__text
  //    font-family: Ubuntu
  //    font-style: normal
  //    font-weight: 300
  //    font-size: 12px
  //    line-height: 15px
  //  &__number
  //    font-family: Ubuntu
  //    font-style: normal
  //    font-weight: 500
  //    font-size: 23px
  //    line-height: 27px
  //    width: 77px