.equipment__description

  &__container
    +container_width()
    margin-bottom: 80px

    +laptop()
      margin-bottom: 30px

  &__container__reverse
    flex-direction: row-reverse
    +laptop()
      +flex_column_start()

  &__title
    +subtitle()

  &__subtitle
    +font_500_18()

  &__blocks
    +flex_row_between()
    +laptop()
      +flex_column_start()
      margin-top: 30px

  &__container__reverse
    flex-direction: row-reverse


  &__block1
    width: 600px
    border: 2px solid #D8DBE8
    box-sizing: border-box
    +flex_row_between()

    &__information
      white-space: nowrap
      padding: 30px
      +flex_column_start()

      button
        display: none // скрыла кнопку
        width: 215px
        height: 40px
        color: #1254b5
        border: #1254b5 solid 1px
        margin-top: 20px
        border-radius: 8px
        +font_300_12()

        &:hover,
        &:focus
          background-color: #1254b5
          color: white

      +mobile__l()
        padding: 25px 20px 0 25px

        button
          width: 100%
          margin-bottom: 30px


    &__row
      +flex_row_start()
      margin-top: 15px
      +font_300_15()


    +tablet()
      width: 100%

    +tablet__s()
      +flex_column_start()


  &__block2
    width: 400px
    +flex_column_start()

    +laptop()
      width: 100%

    ul
      margin: 14px 0
      +font_300_15()

    li
      list-style-type: none
      display: flex
      flex-direction: row
      margin-bottom: 10px
      &:before
        content: '•'
        font-size: 40px
        color: #1254b5
        margin-right: 18px

    &__subtitle
      +font_500_18()
      +laptop()
        margin-top: 10px
      +tablet()
        +font_bold_15()

      &__big
        +font_bold_23()
        text-transform: uppercase
        +laptop()
          +font_500_18()
          font-weight: bold
          margin-top: 20px

    &__p
      +font_500_18()
      margin-top: 14px
      margin-bottom: 20px
      +tablet()
        +font_bold_15()
        margin-top: 20px
        margin-bottom: 10px

    &__dop_2
      +font_300_15()

    &__dop_1
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 16px
      text-transform: uppercase
      margin-top: 56px

      +laptop()
        margin-top: 30px

  &__p
    +font_300_15()
    margin-bottom: 18px

.row__reverse
  flex-direction: row-reverse
  +laptop()
    +flex_column_start()


.block__image_1
  object-fit: cover
  width: 242px
  margin: 30px 0 30px 50px

  +mobile__l()
    object-fit: cover
    width: 184px
    margin: 48px 20px 0 48px

.block__image_2
  object-fit: cover
  width: 280px
  margin: 30px 0 30px 50px

  +mobile__l()
    object-fit: cover
    width: 184px
    margin: 48px 20px 0 48px

.block__image_3
  object-fit: cover
  width: 206px
  margin: 30px 0 30px 50px

  +mobile__l()
    width: 184px
    margin: 48px 20px 0 48px

.inf__block__image
  width: 24px
  height: 24px
  margin-right: 17px
