.feedback
  width: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  margin: 0
  color: $white
  padding: 80px 0
  +tablet()
    background-size: cover
    padding: 30px 0 10px 0

  &__container
    +container_width()

    p
      width: 500px
      margin: 10px 0
      font-family: Ubuntu
      font-style: normal
      font-weight: 300
      font-size: 15px
      line-height: 20px
      +tablet()
        width: 90%

  &__title
    font-family: Ubuntu
    font-style: normal
    font-weight: bold
    font-size: 23px
    line-height: 27px
    text-transform: uppercase
    max-width: 700px
    +tablet()
      +font_500_15()

  &__phone_number
    margin: 15px 0 20px 0
    font-family: Ubuntu
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 125%
    +tablet()
      font-family: Ubuntu
      font-style: normal
      font-weight: 500
      font-size: 15px
      line-height: 20px

  &__button
    +flex_row_start()
    +tablet()
      +flex_column_start()

    &__1
      width: 200px
      height: 50px
      background-color: $white
      color: $blue
      border-radius: 8px
      margin-right: 20px
      +font_300_15()
      &:hover
        background-color: $blue
        color: $white
        border: $blue solid 1px

      +tablet()
        width: 100%
        margin: 0 0 20px 0

    &__2
      display: none // скрыла кнопку
      width: 200px
      height: 50px
      color: $white
      border: $white solid 1px
      border-radius: 8px
      margin-right: 20px
      +font_300_15()
      &:hover
        background-color: $blue
        color: $white
        border: $blue solid 1px
      +tablet()
        width: 100%
        margin: 0 0 20px 0