.loyalty__card
  background-color: $light_grey_2

  &__container
    +container_width()
    +flex_row_between()
    padding-bottom: 60px
    align-items: center


  &__block
    width: 500px
    font-family: Ubuntu
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 20px

  &__title
    +subtitle()

  +tablet__l()
    img
      width: 480px
    &__block
      width: 480px

  +tablet()
    img
      width: 320px

    &__block
      width: 320px

  +mobile__l()
    img
      width: 100%

    &__container
      +flex_column_start()

    &__block
      width: 100%
