.options
  width: 100%
  padding: 0
  &__container
    +container_width()
    flex-wrap: wrap

  &__subtitle
    +subtitle()

  &__row
    +flex_row_start()
    justify-content: center
    flex-wrap: wrap

    +tablet__l()
      justify-content: flex-start

  &__block__image
    margin: 13px
    position: relative
    background-size: cover
    width: 340px
    height: 480px
    +mobile__l()
      width: 100%
      height: 520px
      margin: 0 0 20px 0

  &__block
    margin: 13px
    position: relative
    width: 340px
    height: 480px
    cursor: pointer

    &:hover
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3)

    +mobile__l()
      width: 100%
      height: 520px
      margin: 0 0 20px 0

  &__title__big
    +font_bold_23()
    margin: 30px 0 20px 30px

  &__title
    +font_500_18()
    position: relative
    margin: 0 30px

  &__list
    font-family: Ubuntu
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 20px
    position: relative
    li
      margin: 20px 8px
      list-style-type: none
      display: flex
      flex-direction: row
      &:before
        content: '•'
        font-size: 47px
        color: #1254b5
        margin-right: 18px

  &__information
    position: absolute
    bottom: 0
    font-family: Ubuntu
    font-style: normal
    font-weight: 300
    font-size: 12px
    line-height: 15px
    padding: 10px 30px 20px 30px
    width: 100%
    border-bottom: $white 2px
    &__border
      +flex_row_between()
      align-items: center
      border-bottom: $white solid 1px
    &__number
      font-family: Ubuntu
      font-style: normal
      font-weight: 500
      font-size: 23px
      line-height: 27px

.color_1
  background-color: #EFF1F9

.color_2
  background-color: #D5E1F3

.color_3
  background-color: #85B4FF
  color: $white
  li
    &:before
      color: $white

.color_4
  background-color: #1254B5
  color: $white
  li
    &:before
      color: $white

.color_5
  background-color: #14243D
  color: $white
  li
    &:before
      color: $white