.ready__business
  background-color: $light_grey_2

  &__container
    +container_width()
    padding-top: 60px
    padding-bottom: 60px

    +laptop()
      padding: 50px 0


  &__content
    +flex_row_between()
    +laptop()
      +flex_column_start()

  &__title
    +subtitle()
    margin-top: 0
    +laptop()
      +container_width()
      margin-top: 0
      margin-bottom: 30px

  &__subtitle
    +font_bold_23()
    margin-bottom: 30px
    text-transform: uppercase
    +tablet()
      +font_500_15()
      margin-bottom: 20px

  &__block__image
    width: 45%

    +laptop()
      margin-top: 20px
      width: 100%

  &__image
    width: 100%

  &__block
    width: 45%

    +laptop()
      +container_width()
      text-align: start
      width: 100%

    &__row
      +flex_row_start()
      align-items: center
      +tablet()
        align-items: baseline

    &__number
      +font_bold_40()
      margin-right: 70px
      margin-top: 10px

      +tablet()
        +font_500_15()
        margin-right: 15px

    &__li
      +font_500_15()

.text_blue
  color: $blue
  cursor: pointer