input[type="text"]::-webkit-input-placeholder
  color: #d8dbe8
input[type="tel"]::-webkit-input-placeholder
  color: #d8dbe8

input[type="text"]::-moz-placeholder
  color: #d8dbe8

input[type="tel"]::-moz-placeholder
  color: #d8dbe8

.feedback
  &_grey
    background-color: $light_grey_2
    background-image: none
    width: 100%

  &__container
    +container_width()
    +flex_row_start()
    padding-top: 60px
    padding-bottom: 60px
    +tablet__l()
      +flex_row_between()

  &__title
    +font_bold_40()
    text-transform: uppercase
    +tablet()
      +font_500_15()
      font-weight: bold


  &__title_blue
    color: $light_blue

  &__form
    //margin-left: 100px
    +tablet()
      margin-left: 0

  &__input
    width: 300px
    height: 40px
    border: $light_grey solid 1px
    margin-bottom: 20px
    border-radius: 4px
    background-color: white
    padding: 10px
    color: $light_grey
    +mobile__l()
      width: 280px
      height: 40px


  &__block
    width: 50%

  +tablet__l()
    &__title
      width: 100%
    &__block
      width: 100%
      margin-bottom: 30px
    &__container
      margin: 0 auto
      +flex_column_center()

    &__container
      margin: 0 auto
      padding-top: 30px
      padding-bottom: 60px

.wpcf7-submit
  width: 300px
  height: 40px
  background-color: $blue
  border-radius: 5px
  color: white
  +mobile__l()
    width: 280px
    height: 40px





