.reasons
  width: 100%
  background-color: #14243D
  color: $white

  &__container
    +container_width()
    padding-top: 80px
    padding-bottom: 45px

    +tablet()
      padding-top: 50px
      padding-bottom: 0

  &__title
    +font_bold_40()
    margin-bottom: 60px
    margin-top: 0

    +tablet()
      +font_500_18()
      margin-bottom: 30px

  &__description
    +font_bold_23()

    +tablet()
      +font_500_15()

  &__blocks
    +flex_column_start()

    +tablet()
      padding-bottom: 30px

  &__row
    +flex_row_between()

  &__block
    +flex_row_start()
    margin: 30px 0

  &__number
    +font_bold_40()
    color: $blue
    width: 100px
    +tablet()
      +font_500_15()
      width: 20px
      margin: 0 8px 0 0

  &__text
    width: 400px
    h3
      +font_300_15()
      margin: 7px 0

    &__normal
      +font_300_15()
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0

    &__bold
      +font_500_18()
      margin-bottom: 6px
      &:last-child
        margin-bottom: 0

  +laptop()
    &__row
      +flex_column_start()

    &__text
      width: 100%

      &__bold
        +font_500_15()

  +tablet()
    &__title
      margin-top: 0

  +mobile__l()
    &__description
      margin: 10px 0

    &__block
      margin: 10px 0