
.container_blue
  background: $light_blue
  padding-bottom: 50px
  color: $white
  +ubuntu()

.calculator

  &__information
    +container_width()
    +flex_row_start()
    align-items: flex-end
    color: $white
    padding: 50px 0 48px 0

    +laptop()
      +flex_column_between()
      padding-top: 50px
      padding-bottom: 30px
      align-items: flex-start

  &__result
    background-color: $blue
    width: 365px
    p
      +Button_name()
    +tablet()
      width: 100%
    +mobile__l()
      background-color: $blue
      width: 100%
      padding-bottom: 10px


  &__contacts
    +flex_row_between()
    margin-bottom: 10px
    +laptop()
      +flex_column_start()
    +tablet()
      width: 100%
      +flex_column_start()

.accordion
  +container_width()

  &__container
    border: $white solid 1px
    border-radius: 8px


  &__title
    margin: 20px

  &__header
    +flex_row_between()
    cursor: pointer
    height: 60px

  &__image
    height: 8px
    width: 12px
    margin: 24px

  &__content
    +flex_row_between()
    border-top: $white solid 1px

    +laptop()
      +flex_column_between

    +tablet()
      +flex_column_between

    +mobile__l()
      display: none
      +flex_column_between

  &__column
    width: 90%
    +laptop()
      width: 100%

  &__row
    +flex_row_between()
    margin: 0 20px
    h4
      color: #D8DBE8
    &__text
      color: #D8DBE8
      font-weight: 300
      font-size: 15px
      line-height: 20px
    +laptop()
      +flex_column_between()

    p
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    &_margin
      padding: 14px 0!important

.big_bold_number
  +font_bold_23()
.bold_number
  +font_500_18()

.calculator__feedback__phone-number
  margin-left: 10px
  +laptop()
    margin: 0 0 20px 0
  +tablet()
    +font_300_15()

.calculator__feedback__button
  width: 200px
  height: 40px
  color: $light_blue
  background: $white
  border: none
  border-radius: 8px
  margin: 6px 0 0 30px
  +laptop()
    width: 279px
    margin: 20px 0
  +tablet()
    width: 100%
    margin: 20px 0
  +mobile__l()
    width: 100%
    margin: 20px 0

.active
  transform: rotate(0.5turn)