
.calculator
  &__container
    +container_width()

  &__title
    +font_bold_40()
    margin: 80px 0 60px 0
    text-transform: uppercase

    +tablet()
      +font_500_18()
      margin: 30px 0 15px 0


