.costs
	+wrapper()
	padding-top: 80px
	&__container
		+container()
		
	&__block
		display: flex
		flex-flow: column nowrap
		margin-bottom: 80px
		h2
			+headline_2()
			color: $black
			margin-bottom: 60px
			text-transform: uppercase

		&__wrapper
			display: flex
			justify-content: space-between

		&__content
			display: flex
			flex-flow: column nowrap
			width: 100%
			max-width: 517px

			&__info
				+priceBlock()
				max-width: 500px
				margin-top: 30px
				padding-top: 7px
				h3
					width: 100%
					color: $dark
					+subtitle_4()
					height: 52px
					display: flex
					align-items: center
					justify-content: center
					text-align: center
					background: $light_grey_2
					text-transform: uppercase
					border-bottom: 1px solid $light_grey
					margin-bottom: 15px

		&__text
			+subtitle_1()
			color: $dark
			&:first-child
				margin-bottom: 11px
			&:last-child
				margin-top: 29px

		&__list
			+list()
			p
				+subtitle_2()
				color: $dark
				display: inline-block
		&__image
			width: 100%
			max-width: 501px
			display: flex
			flex-flow: column nowrap

			img
				width: 100%
				margin-bottom: 10px

			&__subtitle
				+subtitle_3()
				color: $grr
				margin-bottom: 32px

			&__info
				+priceBlock()
				max-width: 500px

				h3
					width: 100%
					color: $dark
					+subtitle_4()
					height: 52px
					display: flex
					align-items: center
					justify-content: center
					text-align: center
					background: $light_grey_2
					text-transform: uppercase
					border-bottom: 1px solid $light_grey
					margin-bottom: 15px

	+phone()
		padding-top: 24px
		&__block
			margin-bottom: 30px
			position: relative
			h2
				+headline_1_mobile()
				display: none
				margin-bottom: 30px
				padding-bottom: 230px
				text-align: center
			
			&__wrapper
				flex-flow: column nowrap
				align-items: center

			&__content
				margin-bottom: 30px

				&__info
					padding-top: 0
					margin-top: 20px

			&__image
				img
					width: calc(100% + 40px)
					position: relative
					margin-left: -20px
					height: 276px
					object-fit: cover

				&__subtitle
					margin-bottom: 0

				&__info
					padding-top: 15px


			&:nth-child(2)
				.costs__block__title
					display: block
				
				.costs__block__content
					margin-bottom: 0
				.costs__block__image
					img
						height: 200px