.how
	+wrapper()
	background: $light_grey_2
	padding-top: 37px
	padding-bottom: 82px
	&__container
		+container()

	h2:first-child
		+headline_2()
		color: $black
		margin-bottom: 24px
		text-transform: uppercase

	&__content
		display: flex
		width: 100%
		justify-content: space-between
		margin-bottom: 63px

		&__text
			width: 100%
			max-width: 501px
			+subtitle_1()
			color: $dark
			a
				color: $blue

		&__image
			display: flex
			flex-flow: column nowrap
			img
				margin-bottom: 8px
			span
				+subtitle_3()
				color: $grr

	h2:last-child
		max-width: 564px
		+headline_2()
		color: $dark
		text-transform: uppercase
		span
			color: $blue


	+phone()
		padding: 30px 0
		h2:first-child
			display: none

		&__content
			flex-flow: column nowrap
			margin-bottom: 15px

			&__text
				margin-bottom: 30px

			&__image
				img
					width: calc(100% + 40px)
					margin-left: -20px
					height: 276px
					object-fit: cover

		h2:last-child
			+headline_1_mobile()
			max-width: 279px