.main
	+wrapper()
	position: relative

	&__container
		+container()
		padding-top: 67px
		padding-bottom: 119px
		position: relative

		h1
			+headline_1()
			color: $white
			margin-bottom: 36px
			text-transform: uppercase

	&__text
		display: flex
		position: relative
		padding-left: 10px
		span
			+subtitle_2()
			color: $white

			&:first-child
				margin-right: 60px

		&::before
			content: ''
			display: block
			width: 44px
			height: 1px
			background: $white
			position: absolute
			top: 8px
			left: -49px

	&__info
		position: absolute
		bottom: 48px
		right: 13px
		border: 1px solid $white
		padding: 11px 25px
		width: 200px
		color: $white
		+subtitle_3()


	+phone()

		&__container
			padding-top: 50px
			padding-bottom: 30px
			h1
				+headline_3()
				margin-bottom: 44px

		&__text
			flex-flow: column nowrap
			padding-left: 25px
			span:first-child
				margin-right: 0
				margin-bottom: 26px

			&::before
				width: 20px
				left: 0px
				top: 12px

		&__info
			display: none