=priceBlock()
	display: flex
	flex-flow: column nowrap
	width: 100%
	margin-top: 60px
	max-width: 400px
	margin-top: auto
	padding-top: 20px
	div
		display: flex
		justify-content: space-between
		padding-bottom: 4px
		margin-bottom: 18px
		border-bottom: 1px solid $light_grey
		align-items: center
		span
			color: $dark_grey
			&:first-child
				+subtitle_3()

			&:last-child
				+headline_4()