.reasons
	+wrapper()
	padding-top: 61px
	padding-bottom: 44px

	&__container
		+container()
		
	&__info
		display: flex
		justify-content: space-between
		margin-bottom: 51px

	h2
		+headline_2()
		text-transform: uppercase
		color: $black
		span
			color: $blue

	&__text
		+subtitle_1()
		color: $black
		max-width: 400px

	&__blocks
		display: flex
		flex-flow: row nowrap

		&:nth-child(3)
			
			.reasons__block
				height: 261px
				&:nth-child(1)
					max-width: 405px
					border-left: 1px solid $grey_5
					border-bottom: 1px solid $grey_5
				&:nth-child(2)
					max-width: 426px
					border-top: none

				&:nth-child(3)
					border: none

	&__block
		width: 100%
		max-width: 276px
		position: relative
		border: 1px solid $grey_5
		img
			height: 100%
			width: 100%
			object-fit: cover

		&__subtitle
			+subtitle_3()
			color: $light_grey_2
			position: absolute
			bottom: 10px
			left: 10px

		&__number
			padding-left: 19px
			+subtitle_4()
			color: $grey_5
			margin-bottom: 11px
			margin-top: 30px
			display: block
			transition: all $as

		h3
			+subtitle_2()
			color: $black
			padding-left: 19px
			margin-bottom: 12px

		&__text
			padding-left: 19px
			+subtitle_1()
			color: $black
			padding-right: 10px
			padding-bottom: 10px
		
		&:hover
			.reasons__block__number
				color: $blue
				transition: all $as
		
		&:nth-child(1)
			border: none

		&:nth-child(3),
		&:nth-child(4)
			border-left: none


	+phone()
		padding-top: 30px
		padding-bottom: 30px

		h2
			display: none
		
		&__info
			margin: 0 auto
			margin-bottom: 30px

		&__blocks
			flex-flow: column nowrap
			align-items: center

			&:nth-child(3)
				
				.reasons__block
					height: auto
					
					&:nth-child(1)
						border-right: 1px solid $grey_5
						max-width: 576px
						margin-bottom: 0

					&:nth-child(2)
						max-width: 576px
						margin-bottom: 35px
						border-bottom: 1px solid $grey_5

		&__block
			max-width: 100%
			border-bottom: none
			border: 1px solid $grey_5
			padding-bottom: 20px
			max-width: 576px
			img
				width: calc(100% + 40px)
				margin-left: -20px
				height: 200px
				object-fit: cover
				max-width: 616px
				margin-bottom: 10px
			span
				color: $grr
			
			&:nth-child(1)
				margin-bottom: 30px
			&:nth-child(2)
				border-left: 1px solid $grey_5
				border-bottom: none

			&:nth-child(3)
				border-left: 1px solid $grey_5
				border-bottom: none

			&:nth-child(4)
				border-left: 1px solid $grey_5

			