.steps
	+wrapper()
	padding-top: 113px
	overflow: hidden
	&__container
		+container()

	h2
		+headline_2()
		color: $black
		margin-bottom: 61px
		text-transform: uppercase

	&__first
		display: flex
		justify-content: space-between
		padding-left: 100px
		margin-bottom: 117px

		&__info
			display: flex
			flex-flow: column nowrap
			min-width: 402px
			margin-right: 100px
			h3
				+headline_3()
				color: $black
				margin-bottom: 22px
				position: relative

				&::before
					content: '1'
					+headline_2()
					color: $dark_blue
					position: absolute
					left: -95px
					top: 6px

			div
				+subtitle_1()
				color: $dark
				margin-bottom: 15px

			span
				+list()

			p
				+subtitle_2()
				color: $blue
				margin-top: 33px
		
		&__image
			position: relative
			span
				+subtitle_3()
				color: $grr
				margin-top: 10px

	&__second
		margin-bottom: 79px
		h3
			+headline_3()
			color: $black
			margin-bottom: 28px
			padding-left: 100px
			position: relative
			&::before
				content: '2'
				+headline_2()
				color: $dark_blue
				position: absolute
				left: 5px
				top: -18px

		&__text
			+subtitle_1()
			color: $dark
			margin-bottom: 30px
			max-width: 620px
			padding-left: 100px

		&__blocks
			display: flex
			justify-content: space-between
			
		&__block
			display: flex
			flex-flow: column nowrap
			max-width: 500px
			img
				max-width: 100%
				margin-bottom: 5px

			&__signature
				+subtitle_3()
				color: $grr
				margin-bottom: 15px

			h4
				+subtitle_2()
				color: $dark
				margin-bottom: 11px

			&__list
				+list()

			p
				+subtitle_1()
				color: $dark
				margin-bottom: 12px

			&__info
				display: flex
				flex-flow: column nowrap
				width: 100%
				margin-top: 60px
				max-width: 100%
				margin-top: auto
				padding-top: 20px
				div
					display: flex
					justify-content: space-between
					padding-bottom: 4px
					margin-bottom: 18px
					border-bottom: 1px solid $light_grey
					align-items: center
					span
						color: $dark_grey
						&:first-child
							+subtitle_3()

						&:last-child
							+headline_4()
							
	&__third
		display: flex
		flex-flow: column nowrap
		margin-bottom: 92px
		h3
			+headline_3()
			color: $black
			margin-bottom: 28px
			padding-left: 100px
			position: relative
			&::before
				content: '3'
				+headline_2()
				color: $dark_blue
				position: absolute
				left: 5px
				top: -18px

		&__blocks
			display: flex
			flex-flow: row wrap
			justify-content: space-between

		&__block
			width: 100%
			max-width: 300px
			display: flex
			flex-flow: column nowrap
			
			&__subtitle
				+subtitle_4()
				color: $dark
				margin-bottom: 10px

			&__image
				position: relative
				overflow: hidden
				img
					object-fit: cover
					height: 100%
				span
					position: absolute
					bottom: 10px
					left: 13px
					+subtitle_3()
					color: $light_grey_2

			&__name
				height: 100px
				width: 100%
				border: 1px solid #E0E0E0
				border-top: none
				display: flex
				justify-content: center
				align-items: center
				+subtitle_4()
				color: $black
				text-align: center
				margin-bottom: 18px
				transition: all $as
				text-transform: uppercase

			&__list
				+list()

			&__info
				+priceBlock()
				max-width: 100%
				div
					span:last-child
						color: $dark_grey
			
			&:hover

				.steps__third__block__name
					color: $white
					background: $blue
					transition: all $as
					border: none

				.steps__third__block__info
					div
						span:last-child
							color: $dark
	&__wrapper
		display: flex
		justify-content: space-between
		width: 100%
		margin-bottom: 60px

	&__four
		display: flex
		flex-flow: column nowrap
		max-width: 500px
		h3
			+headline_3()
			color: $black
			margin-bottom: 28px
			padding-left: 100px
			position: relative
			&::before
				content: '4'
				+headline_2()
				color: $dark_blue
				position: absolute
				left: 5px
				top: 10px

		&__subtitle
			+subtitle_3()
			color: $grr
			margin-bottom: 19px
			margin-top: 10px

		&__list
			+list()

		&.five
			h3::before
				content: '5'
	&__six
		display: flex
		&__image
			width: 100%
			max-width: 500px
			height: 400px
			position: relative
			img
				height: 100%
				object-fit: cover

			span
				position: absolute
				bottom: 13px
				left: 10px
				+subtitle_3()
				color: $grr

		&__content
			position: relative
			background: $dark_blue
			padding-top: 60px
			padding-left: 173px
			width: 100%
			display: flex
			flex-flow: column nowrap
			&__bg
				position: absolute
				background: $dark_blue
				top: 0
				height: 100%
				width: 300%
				right: -1800px
				overflow: hidden

			h3
				+headline_3()
				color: $white
				margin-bottom: 26px
				position: relative
				&::before
					content: '6'
					+headline_2()
					color: $white
					position: absolute
					left: -85px
					top: -21px

			&__text
				+subtitle_1()
				color: $white
				margin-bottom: 23px

			&__list
				+list()
				color: $white


	+phone()
		padding-top: 25px

		h2
			display: none

		&__first
			position: relative
			padding-left: 0
			margin-bottom: 0px
			
			&__info
				min-width: 0
				margin-right: 0
				h3
					+headline_1_mobile()
					margin-bottom: 20px
					text-transform: uppercase
					max-width: 160px
					padding-left: 25px
					padding-bottom: 195px
					&::before
						+subtitle_2()
						left: 0
						top: 0

				p
					display: none
			&__image
				position: absolute
				top: 90px
				left: -20px
				display: flex
				flex-flow: column nowrap
				width: calc(100% + 40px)
				max-width: 576px
				img
					width: 100%
					height: 150px
					object-fit: cover

				span
					padding-left: 20px
					margin-top: 10px

		&__second
			margin-bottom: 0
			h3
				padding-left: 25px
				+headline_1_mobile()
				margin-bottom: 7px	
				text-transform: uppercase
				&::before
					+subtitle_2()
					left: 0
					top: 0

			&__text
				padding-left: 0
				margin-top: 20px

			&__blocks
				flex-flow: column nowrap
				align-items: center
			
			&__block
				margin-bottom: 23px

				&__info
					margin-top: 10px
		
		&__third
			margin-bottom: 45px
			h3
				padding-left: 25px
				+headline_1_mobile()
				margin-bottom: 23px	
				text-transform: uppercase
				&::before
					+subtitle_2()
					left: 0
					top: -4px
			&__blocks
				justify-content: center

			&__block

				&__name
					padding-left: 10px
					padding-right: 10px
		
		&__wrapper
			flex-flow: column nowrap
			margin-bottom: 24px
			align-items: center

		&__four
			margin-bottom: 17px
			h3
				padding-left: 25px
				+headline_1_mobile()
				margin-bottom: 27px	
				text-transform: uppercase
				&::before
					+subtitle_2()
					left: 0
					top: -6px

			&__image
				width: 100%
				height: 200px
				object-fit: cover

			&.five
				.steps__four__image
						height: 128px

				h3::before
					top: -2px

		&__six
			flex-flow: column nowrap
			position: relative
			align-items: center

			&__image
				height: auto
				position: absolute
				z-index: 2
				top: 70px
				padding-bottom: 33px
				img
					width: 100%
					height: 200px
					object-fit: cover

				span
					left: 0
			
			&__content
				padding-left: 0
				padding-top: 25px
				max-width: 500px
				&__text
					z-index: 1
					padding-left: 25px
				h3
					padding-left: 25px
					+subtitle_4()
					margin-bottom: 23px	
					text-transform: uppercase
					padding-bottom: 240px
					&::before
						+subtitle_2()
						left: 0
						top: -5px

				&__bg
					right: -200px