.why
	+wrapper()
	padding-top: 80px
	padding-bottom: 41px

	&__container
		+container()

	&__info
		display: flex
		margin-bottom: 60px

	h2
		+headline_2()
		color: $black
		margin-right: 52px
		text-transform: uppercase

	&__text
		max-width: 467px
		color: $dark
		+subtitle_1()

	&__blocks
		display: flex
		flex-flow: row wrap

	&__block
		width: 100%
		max-width: 360px
		box-sizing: border-box
		background: $white
		border: 1px solid #E0E0E0
		padding-left: 20px
		padding-top: 30px
		padding-right: 26px
		padding-bottom: 30px
		transition: all $as

		h3
			+headline_3()
			color: $dark
			margin-bottom: 10px
			transition: all $as

		&__text
			+subtitle_1()
			color: $dark
			font-size: 14px
			transition: all $as

		&:nth-child(1)
			max-width: 380px
			padding-left: 30px

		&:nth-child(2)
			border-left: 0
			border-right: 0

		&:nth-child(4)
			max-width: 740px
			border-top: 0
			padding-left: 30px
			border-right: 0

		&:nth-child(5)
			border-top: 0

		&:hover
			background: $blue
			transition: all $as
			.why__block__title,
			.why__block__text
				color: $white
				transition: all $as
			

	+phone()
		padding-top: 30px
		padding-bottom: 0

		&__info
			flex-flow: column nowrap
			margin-bottom: 60px
			align-items: center
			
		h2
			display: none

	+bg()
	
		&__blocks
			flex-flow: column nowrap
			align-items: center

		&__block
			width: 100%
			max-width: 414px
			border: none
			border-bottom: 1px solid #E0E0E0
			padding-left: 0

			&:nth-child(1),
			&:nth-child(4)
				padding-left: 0
				max-width: 414px