/* -------------------------------------
	Подключение шрифтов
	------------------------------------*/

// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black



@font-face{
	font-family: 'ubuntu-light';
	font-display: swap;
	src: url('../fonts/ubuntulight.woff2') }

@font-face{
	font-family: 'ubuntu-medium';
	font-display: swap;
	src: url('../fonts/ubuntumedium.woff2') }

@font-face{
	font-family: 'ubuntu-bold';
	font-display: swap;
	src: url('../fonts/ubuntubold.woff2') }


@font-face{
	font-family: 'opensans-bold';
	font-display: swap;
	src: url('../fonts/opensansbold.woff2') }

// for rub symbol
@font-face{ 
	font-family: 'Roboto'; 
	font-display: swap;
	src: url('../fonts/Roboto.ttf') }

/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/roboto-v27-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/roboto-v27-latin-300.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v27-latin-300.woff2') format('woff2'), url('../fonts/roboto-v27-latin-300.woff') format('woff'), url('../fonts/roboto-v27-latin-300.ttf') format('truetype'), url('../fonts/roboto-v27-latin-300.svg#Roboto') format('svg');
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), url('../fonts/roboto-v27-latin-regular.woff') format('woff'), url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg');
}
/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), url('../fonts/roboto-v27-latin-500.woff') format('woff'), url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), url('../fonts/roboto-v27-latin-500.svg#Roboto') format('svg');
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v27-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/roboto-v27-latin-700.eot?#iefix') format('embedded-opentype'),	url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), url('../fonts/roboto-v27-latin-700.woff') format('woff'), url('../fonts/roboto-v27-latin-700.ttf') format('truetype'), url('../fonts/roboto-v27-latin-700.svg#Roboto') format('svg');
}
/* roboto-900 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/roboto-v27-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/roboto-v27-latin-900.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto-v27-latin-900.woff2') format('woff2'),url('../fonts/roboto-v27-latin-900.woff') format('woff'),url('../fonts/roboto-v27-latin-900.ttf') format('truetype'), url('../fonts/roboto-v27-latin-900.svg#Roboto') format('svg');
}

/* ubuntu-300 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.eot');
	src: local(''), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.woff') format('woff'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Ubuntu') format('svg');
}
/* ubuntu-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Ubuntu') format('svg');
}
/* ubuntu-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Ubuntu') format('svg');
}
/* ubuntu-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), url('../fonts/ubuntu-v15-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Ubuntu') format('svg');
}
/* open-sans-300 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.woff') format('woff'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-300.svg#OpenSans') format('svg');
}
/* open-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg');
}
/* open-sans-600 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf') format('truetype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#OpenSans') format('svg');
}
/* open-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#OpenSans') format('svg');
}
/* open-sans-800 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.woff') format('woff'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.ttf') format('truetype'), url('../fonts/open-sans-v20-latin-ext_latin_cyrillic-ext_cyrillic-800.svg#OpenSans') format('svg');
}