$phone: 992px
$container: 1140px
// common mixins

=wrapper()
  width: 100%
  display: flex
  justify-content: center

=container()
  width: 100%
  display: flex
  flex-flow: column nowrap
  max-width: $container
  padding-left: 20px
  padding-right: 20px

=mobContainer()
  max-width: 576px

// media quares
=phone()
  @media screen and (max-width: $phone)
    @content

=bg()
  @media screen and (max-width: $container)
    @content

// fonts

=headline_1()
  font-family: 'ubuntu-bold'
  font-size: 70px
  line-height: 75px

=headline_2()
  font-family: 'ubuntu-bold'
  font-size: 40px
  line-height: 125%

=headline_3()
  font-family: 'ubuntu-bold'
  font-size: 23px
  line-height: 27px

=headline_4()
  font-family: 'ubuntu-bold'
  font-size: 20px
  line-height: 25px

=subtitle_1()
  font-family: 'ubuntu-light'
  font-size: 15px
  line-height: 20px

=subtitle_2()
  font-family: 'ubuntu-medium'
  font-size: 18px
  line-height: 22px

=subtitle_3()
  font-family: 'ubuntu-light'
  font-size: 12px
  line-height: 15px

=subtitle_4()
  font-family: 'opensans-bold'
  font-size: 12px
  line-height: 16px

=headline_1_mobile()
  font-family: 'ubuntu-medium'
  font-size: 15px
  line-height: 20px

=list()
  font-family: 'ubuntu-light'
  font-size: 15px
  line-height: 20px
  color: $dark
  padding-left: 30px
  position: relative
  margin-bottom: 8px
  &::before
    content: ''
    display: block
    width: 10px
    height: 10px
    background: $blue
    border-radius: 50%
    position: absolute
    top: 6px
    left: 3px

//*******************************************

=laptop__l()
  @media (max-width: 1440px)
    @content

=laptop()
  @media (max-width: 1140px)
    @content

=tablet__l()
  @media (max-width: 992px)
    @content

=tablet()
  @media (max-width: 768px)
    @content

=tablet__s()
  @media (max-width: 640px)
    @content

=mobile__l()
  @media (max-width: 425px)
    @content

=mobile__m()
  @media (max-width: 375px)
    @content

=mobile__s()
  @media (max-width: 320px)
    @content

=container_width()
  margin: 0 auto
  width: 1100px
  +laptop()
    padding-left: 30px
    padding-right: 30px
    width: 100%
  +tablet()
    padding-left: 20px
    padding-right: 20px

=ubuntu()
  font-family: Ubuntu, sans-serif
  font-style: normal

=main_title()
  +ubuntu()
  font-weight: bold
  font-size: 70px
  line-height: 75px
  text-transform: uppercase
  +tablet()
    font-size: 40px
    line-height: 125%
  +mobile__l()
    +font_bold_23()

=subtitle()
  +ubuntu()
  +font_bold_40()
  text-transform: uppercase
  margin: 80px 0 60px 0

  +tablet()
    font-size: 28px
    line-height: 28px
    margin: 50px 0 30px 0

  +mobile__l()
    +ubuntu()
    +font_bold_15()

=subtitle_sm()
  +ubuntu()
  +font_bold_23()
  text-transform: uppercase
  margin: 80px 0 60px 0

  +mobile__l()
    +ubuntu()
    +font_bold_15()

=font_bold_40()
  +ubuntu()
  font-weight: bold
  font-size: 40px
  line-height: 125%

=font_bold_23()
  +ubuntu()
  font-weight: bold
  font-size: 23px
  line-height: 27px

=font_500_18()
  +ubuntu()
  font-weight: 500
  font-size: 18px
  line-height: 23px

=font_bold_15()
  +ubuntu()
  font-weight: bold
  font-size: 15px
  line-height: 20px

=font_500_15()
  +ubuntu()
  font-weight: 500
  font-size: 15px
  line-height: 20px

=font_300_15()
  +ubuntu()
  font-weight: 300
  font-size: 15px
  line-height: 20px

=font_300_12()
  +ubuntu()
  font-weight: 300
  font-size: 12px
  line-height: 15px

=Button_name()
  +ubuntu()
  font-weight: 300
  font-size: 12px
  line-height: 15px

=TextBox_Content()
  +ubuntu()
  font-weight: 300
  font-size: 15px
  line-height: 20px

=flex_row_between()
  display: flex
  flex-direction: row
  justify-content: space-between

=flex_row_start()
  display: flex
  flex-direction: row
  justify-content: flex-start

=flex_row_end()
  display: flex
  flex-direction: row
  justify-content: flex-end

=flex_column_start()
  display: flex
  flex-direction: column
  justify-content: flex-start

=flex_column_between()
  display: flex
  flex-direction: column
  justify-content: space-between

=flex_column_center()
  display: flex
  flex-direction: column
  justify-content: center


