.breadcrumbs
	display: flex
	flex-flow: row nowrap
	font-family: 'ubuntu-medium';
	font-size: 12px
	color: $light_grey_2
	line-height: 15px
	position: absolute
	bottom: 30px
	left: 20px

	a
		+subtitle_3()
		color: $light_grey_2
		margin-right: 30px
		position: relative

		&:hover
			text-decoration: underline

		&::after
			content: ''
			display: block
			width: 15px
			height: 5px
			position: absolute
			right: -21px
			top: 50%
			margin-top: -2.5px
			background: url(../img/breadcrumb-arrow.svg) no-repeat center center 

	+phone()
		a,
		span
			display: none
			margin-right: 0

		a:nth-last-child(-n+2)
			display: block
			padding-left: 25px
			&::after
				left: 0
				transform: rotate(-180deg)
