
.footer
	background-color: $dark_blue
	color: $white

	&__container
		+container_width()
		+flex_column_between()

	&__row
		+flex_row_between()
		margin-top: 40px
		margin-bottom: 15px

	&__row__information
		color: #D8DBE8
		+flex_row_between()
		font-weight: 300
		font-size: 15px
		line-height: 20px
		p
			margin-bottom: 10px
	&__empty__column
		color: $dark_blue

	&__column
		+flex_column_start()
		a
			text-decoration: none
			color: $white
			padding: 0 0 10px 0
		menu
			text-transform: uppercase
			font-weight: bold
			font-size: 12px
			line-height: 16px
			+flex_column_start()
		li
			+Button_name()
			margin: 0 0 10px 22px

	&__email
		text-decoration: none
		color: #D8DBE8
		margin: 10px 0

	&__phone
		margin: 10px 0

	&__feedback-button
		font-weight: 300
		font-size: 12px
		line-height: 15px
		width: 150px
		height: 30px
		color: #F8F8F8
		border: #F8F8F8 solid 1px
		border-radius: 8px
		margin: 0 0 10px 0

	&__map__link
		text-decoration: none
		font-weight: 700
		font-size: 12px
		line-height: 16px
		color: $white

	&__contacts
		color: #D8DBE8
		+TextBox_Content()

	&__address
		color: #D8DBE8
		font-weight: 300
		font-size: 15px
		line-height: 20px
		margin: 5px 0 5px 0

	+laptop()
		&__column
			img
				width: 85%
				height: 100%
				margin: 0 auto

	+tablet()

		.submenu
			display: none

		&__contacts
			font-weight: 300
			font-size: 12px
			line-height: 15px
		&__address
			font-weight: 300
			font-size: 12px
			line-height: 15px
		&__row__information
			font-weight: 300
			font-size: 12px
			line-height: 15px
		&__column
			+flex_column_start()
			width: 50%
			a
				text-decoration: none
				color: $white
			menu
				+flex_column_start()
			li
				margin: 5px 0 0 22px

		&__row
			margin-top: 30px
			margin-bottom: 40px
		&__feedback-button
			display: none

		&__row__information
			+flex_column_start()

		#map
			display: none






