=callback()
	width: 150px
	height: 30px
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid #fff
	border-radius: 8px
	color: $white
	+subtitle_3()
	color: $light_grey_2
	margin-right: 39px
	cursor: pointer
	transition: all $as
	&:hover
		background: $white
		color: $blue
		transition: all $as