@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i&subset=cyrillic");

.btn {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 14px;
  line-height: 34px;
  text-decoration: none;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  cursor: pointer;
  -moz-transition: opacity, .25s;
  -o-transition: opacity, .25s;
  -webkit-transition: opacity, .25s;
  transition: opacity, .25s
}

.btn:focus, .btn.focus, .btn:hover, .btn.hover {
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: .75
}

.btn.disabled, .btn:disabled {
  opacity: .65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn:active, .btn.active {
  background-image: none
}

.btn-callback {
  border-color: #353d65;
  color: #fff
}

.btn-footer-callback {
  display: block;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #353d65;
  font-size: 18px;
  line-height: 1.25em;
  color: #fff;
  padding: 10px 15px
}

.btn-footer-phone {
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #00013c;
  padding: 10px 15px;
  background: #00013c;
  font-size: 18px;
  line-height: 1.25em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #00f0ff
}

.btn-footer-phone:before {
  content: '';
  position: relative;
  top: 2px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-image: url('img/icons-sb369aeac3d.png');
  background-position: -12px 0;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px
}

.btn-submit {
  display: block;
  width: 100%;
  height: 46px;
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  background: #1eba6f;
  border-color: #1eba6f;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px
}

.btn-file {
  display: block;
  position: relative;
  overflow: hidden;
  height: 46px;
  font-size: 18px;
  line-height: 48px;
  background: #fff;
  border-color: #e7e7e7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px
}

.btn-file .wpcf7-form-control-wrap {
  position: static
}

.btn-file input {
  position: absolute;
  font-size: 244px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0
}

.checkbox input[type=checkbox] {
  display: none;
  height: 0;
  width: 0;
  opacity: 0
}

.checkbox > span {
  display: block;
  padding: 0 0 0 32px;
  position: relative;
  margin-bottom: 20px;
}

.checkbox > span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $grr;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px
}

.checkbox input[type=checkbox]:checked + span:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url('./icons-sb369aeac3d.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

q, blockquote {
  quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

@font-face {
  font-family: "gilroyextrabold";
  src: url('fonts/radomir_tinkov_-_gilroy-extrabold-webfont.eot?1536791147') format('embedded-opentype'), url('fonts/radomir_tinkov_-_gilroy-extrabold-webfont.svg?1536791148') format('svg'), url('fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff?1536791147') format('woff'), url('fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2?1536791147') format('woff2')
}

html {
  height: 100%;
  background: #fff
}

body {
  min-height: 100%;
  position: relative;
  background: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.55em;
  color: #282828;
  min-width: 320px
}

.container {
  margin: 0 auto;
  max-width: 450px;
  padding: 0 15px;
  *zoom: 1
}

.container:after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (min-width: 480px) {
  .container {
    max-width: 740px
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 960px
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px
  }
}

.hide {
  display: none
}

.oh {
  overflow: hidden
}

strong, .strong {
  font-weight: bold
}

#slb_viewer_wrap .slb_theme_slb_baseline {
  margin-top: -20px
}

.clearfix {
  *zoom: 1
}

.clearfix:after {
  content: "";
  display: table;
  clear: both
}

.list-mdash {
  list-style: none;
  margin: 0
}

.list-mdash li {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 15px
}

.list-mdash li:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 10px;
  top: 11px;
  left: 0;
  background: #fff
}

.header {
  background: #00013c;
  padding: 11px 0
}

.header-tel {
  float: right;
  padding: 7px 0;
  margin-left: 10px;
  color: #00f0ff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  -moz-transition: color, .25s;
  -o-transition: color, .25s;
  -webkit-transition: color, .25s;
  transition: color, .25s
}

@media only screen and (min-width: 768px) {
  .header-tel {
    margin-left: 20px
  }
}

.header-tel:hover {
  color: #80f8ff
}

.header-callback {
  display: none;
  float: right
}

@media only screen and (min-width: 480px) {
  .header-callback {
    display: block;
    margin-top: 1px
  }
}

.logo {
  float: left;
  background-image: url('img/icons-sb369aeac3d.png');
  background-position: -30px 0;
  background-repeat: no-repeat;
  height: 38px;
  width: 127px;
  font-size: 0;
  text-indent: -999px;
  overflow: hidden
}

.menu {
  background: #fff;
  overflow: hidden;
  height: 50px;
  position: relative
}

@media only screen and (max-width: 767px) {
  .menu .container {
    max-width: none;
    padding: 0;
    overflow-y: auto
  }
  .menu .container::-webkit-scrollbar, .menu .container::-webkit-scrollbar-button, .menu .container::-webkit-scrollbar-track, .menu .container::-webkit-scrollbar-track-piece, .menu .container::-webkit-scrollbar-thumb, .menu .container::-webkit-scrollbar-corner, .menu .container::-webkit-resizer {
    height: 0;
    width: 0;
    opacity: 0
  }
}

.menu ul {
  list-style: none;
  white-space: nowrap
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 15px
}

.menu li:first-child {
  margin-left: 15px
}

.menu li:last-child {
  margin-right: 68px
}

@media only screen and (min-width: 768px) {
  .menu li {
    float: left;
    margin-left: 5px;
    margin-right: 60px
  }
  .menu li:first-child {
    margin-left: 5px
  }
  .menu li:last-child {
    margin-right: 0
  }
}

.menu.menu-open li {
  display: block;
  float: none
}

@media only screen and (min-width: 768px) {
  .menu.menu-open li {
    float: left
  }
}

.menu-link {
  display: block;
  text-decoration: none;
  color: #39395a;
  padding: 15px 0;
  line-height: 20px;
  -moz-transition: color, .25s;
  -o-transition: color, .25s;
  -webkit-transition: color, .25s;
  transition: color, .25s
}

.menu-link:hover {
  color: #08080c
}

.menu-icon {
  display: none
}

@media only screen and (min-width: 992px) {


  .container li:nth-child(2) .menu-icon {
    background: url(https://nerta-sw.ru/wp-content/uploads/2020/07/001-key.png) no-repeat;
    fill: #ccc;
    display: block;
    background-size: contain;
  }
  .container li:nth-child(2):hover .menu-icon {
    background: url(https://nerta-sw.ru/wp-content/uploads/2020/07/001-key2.png) no-repeat;
    display: block;
    background-size: contain;
    transition: .25s;
  }


  .menu-icon {
    display: block;
    float: left;
    margin-right: 7px;
    height: 20px;
    width: 20px;
    fill: #77778f;
    -moz-transition: fill, .25s;
    -o-transition: fill, .25s;
    -webkit-transition: fill, .25s;
    transition: fill, .25s
  }
}

.menu-link:hover .menu-icon {
  fill: #3d3d4a
}

.menu-show-btn {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  height: 50px;
  width: 53px;
  cursor: pointer;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px
}

@media only screen and (min-width: 768px) {
  .menu-show-btn {
    display: none
  }
}

.menu-show-btn:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -12px;
  background: #080d50;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: #080d50 0 -8px, #080d50 0 8px;
  -webkit-box-shadow: #080d50 0 -8px, #080d50 0 8px;
  box-shadow: #080d50 0 -8px, #080d50 0 8px
}

.menu-show-btn:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -12px;
  background: #080d50;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px
}

@media only screen and (max-width: 767px) {
  .menu.menu-open {
    position: relative;
    height: 50px;
    overflow: visible
  }
}

.menu.menu-open .menu-show-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #00013c
}

.menu.menu-open .menu-show-btn:before {
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.menu.menu-open .menu-show-btn:after {
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

@media only screen and (max-width: 767px) {
  .menu.menu-open .container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding: 45px 0 40px;
    background: #00013c
  }
}

@media only screen and (max-width: 767px) {
  .menu.menu-open .container li {
    margin: 0 15px;
    text-align: center
  }
}

@media only screen and (max-width: 767px) {
  .menu.menu-open .container .menu-link {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff
  }
}

.footer-menu {
  background: #00013c;
  border-bottom: 1px solid #353d65
}

.footer-menu li {
  margin-right: 35px
}

@media only screen and (min-width: 768px) {
  .footer-menu li {
    margin-right: 80px
  }
}

.footer-menu .menu-link {
  color: #fff
}

.footer-menu .menu-link:hover {
  color: #bfbfbf
}

.footer-menu .menu-show-btn {
  background: #00013c;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px
}

@media only screen and (min-width: 768px) {
  .footer-menu .menu-show-btn {
    display: none
  }
}

.footer-menu .menu-show-btn:before {
  background: #fff;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: #fff 0 -8px, #fff 0 8px;
  -webkit-box-shadow: #fff 0 -8px, #fff 0 8px;
  box-shadow: #fff 0 -8px, #fff 0 8px
}

.footer-menu .menu-show-btn:after {
  background: #fff
}

.footer-info dl dt {
  font-size: 15px;
  line-height: 1.25em;
  color: #00f0ff;
  padding-top: 15px
}

.footer-info dl dd {
  font-size: 24px;
  line-height: 1.25em;
  padding-bottom: 20px
}

.footer-info dl a {
  color: inherit;
  text-decoration: none
}

.footer-callback {
  display: none
}

@media only screen and (min-width: 768px) {
  .footer-callback {
    display: block;
    float: right;
    width: 200px;
    margin: 25px 10px
  }
}

@media only screen and (min-width: 992px) {
  .footer-callback {
    width: 290px
  }
}

.footer-callback-dbl {
  display: block;
  margin: 50px 0
}

@media only screen and (min-width: 768px) {
  .footer-callback-dbl {
    display: none
  }
}

.footer-copyright {
  bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap
}

.footer-fixed {
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 5
}

@media only screen and (min-width: 768px) {
  .footer-fixed {
    display: none
  }
}

.main-top {
  position: relative;
  min-height: 420px;
  overflow: hidden;
  background: #40d3de;
  -moz-background-size: 1300px auto;
  -o-background-size: 1300px auto;
  -webkit-background-size: 1300px auto;
  background-size: 1300px auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1
}

@media only screen and (min-width: 480px) {
  .main-top {
    min-height: 565px;
    text-align: center
  }
}

.main-top-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('img/main_bg.jpg?1536791148') no-repeat left top;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover
}

.main-top-text {
  font-size: 22px;
  line-height: 24px;
  padding: 20px 0 25px;
  max-width: 600px
}

@media only screen and (min-width: 480px) {
  .main-top-text {
    font-size: 28px;
    line-height: 38px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 0
  }
}

@media only screen and (min-width: 768px) {
  .main-top-text {
    padding: 65px 0 30px
  }
}

@media only screen and (min-width: 992px) {
  .main-top-text {
    padding: 70px 0;
    max-width: 880px
  }
}

.main-top-title {
  padding: 0
}

.main-top-title .small {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 18px;
  line-height: 32px
}

@media only screen and (min-width: 480px) {
  .main-top-title .small {
    font-size: 24px;
    margin-bottom: 15px
  }
}

.main-top-title .title {
  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 44px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase
}

@media only screen and (min-width: 480px) {
  .main-top-title .title {
    font-size: 52px;
    line-height: 56px
  }
}

@media only screen and (min-width: 768px) {
  .main-top-title .title {
    font-size: 82px;
    line-height: 92px
  }
}

@media only screen and (min-width: 992px) {
  .main-top-title .title {
    font-size: 92px
  }
}

.main-top-subtitle {
  display: block;
  margin: 25px 0 15px;
  font-size: 22px;
  line-height: 35px
}

@media only screen and (min-width: 768px) {
  .main-top-subtitle {
    margin-bottom: 25px;
    font-size: 25px
  }
}

.main-top-list {
  font-size: 16px;
  line-height: 20px;
  *zoom: 1
}

.main-top-list:after {
  content: "";
  display: table;
  clear: both
}

.main-top-list-l {
  margin: 20px 0
}

@media only screen and (min-width: 768px) {
  .main-top-list-l {
    float: left;
    width: 55%;
    margin: 0;
    padding: 0 40px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
}

.main-top-list-r {
  margin: 20px 0
}

@media only screen and (min-width: 768px) {
  .main-top-list-r {
    float: left;
    width: 45%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
}

.main-top-list-r p {
  margin: 0 0 10px
}

@media only screen and (min-width: 768px) {
  .main-top-list-r p {
    margin: 0 0 10px
  }
}

.main-top-new {
  display: block;
  text-align: left;
  min-height: 0;
  padding: 30px 0
}

@media only screen and (min-width: 768px) {
  .main-top-new {
    padding-bottom: 50px
  }
}

.main-top-new .main-top-img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 1, 60, 0.55)
}

.main-top-new .main-top-title {
  margin: 20px 0
}

@media only screen and (min-width: 768px) {
  .main-top-new .main-top-title {
    margin: 30px 0
  }
}

@media only screen and (min-width: 768px) {
  .main-top-new .main-top-title .title {
    font-size: 72px;
    line-height: 95px
  }
}

@media only screen and (min-width: 768px) {
  .main-top-new .main-top-title, .main-top-new .main-top-subtitle, .main-top-new .main-top-list {
    padding-left: 45px;
    padding-right: 45px
  }
}

.options {
  padding: 150px 0
}

.options-wrapper {
  margin: 0
}

@media only screen and (min-width: 1200px) {
  .options-wrapper {
    margin-right: 90px;
    margin-left: 110px
  }
}

.options img {
  max-width: 100%;
  display: block;
  margin: 0 auto
}

.options .title {
  font-size: 38px;
  font-weight: bold;
  line-height: normal;
  color: #090a47;
  margin: 50px 0 20px
}

@media only screen and (min-width: 1200px) {
  .options .title {
    max-width: 660px
  }
}

.options .subtitle {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  color: #090a47;
  margin: 50px 0 20px
}

@media only screen and (min-width: 1200px) {
  .options .subtitle {
    max-width: 660px
  }
}

@media only screen and (min-width: 1200px) {
  .options-text {
    max-width: 560px
  }
}

.options .options-text-discount {
  margin-bottom: -25px
}

@media only screen and (min-width: 768px) {
  .options .options-text-discount {
    float: right;
    margin: 120px 0 0 50px
  }
}

.options .options-text-panel {
  display: none;
  float: right;
  margin: 0px 0 0 0px
}

@media only screen and (min-width: 992px) {
  .options .options-text-panel {
    display: block
  }
}

.options ul {
  margin-bottom: 22px;
  list-style: disc;
  padding: 0 0 0 20px
}

.options ul li {
  margin-bottom: 2px
}

.options .application {
  margin: 20px 0;
  padding: 20px 0;
  background: #f3f3f3
}

@media only screen and (min-width: 768px) {
  .options .application {
    margin: 30px 0;
    padding: 30px 0
  }
}

@media only screen and (min-width: 992px) {
  .options .application {
    margin: 50px 0;
    padding: 50px 0
  }
}

@media only screen and (min-width: 1200px) {
  .options .application {
    margin: 65px 0;
    padding: 65px 0
  }
}

.panel {
  *zoom: 1;
  margin: 35px 0 35px
}

.panel:after {
  content: "";
  display: table;
  clear: both
}

.panel-item {
  margin: 50px 0;
  text-align: center
}

@media only screen and (min-width: 768px) {
  .panel-item {
    float: left;
    margin: 0 85px 30px 0
  }
}

@media only screen and (min-width: 992px) {
  .panel-item {
    margin-bottom: 50px
  }
}

.panel-item.last-child {
  margin-right: 0
}

.panel-item-title {
  padding: 10px 20px;
  font-size: 15px;
  color: #a0a0a0
}

@media only screen and (min-width: 768px) {
  .panel-item-title {
    text-align: left
  }
}

.panel-item img {
  max-width: 100%
}

.panel-payment {
  position: relative;
  overflow: hidden;
  padding: 25px 40px 23px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f3f3f3;
  color: #00013c;
  width: 600px;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@media only screen and (min-width: 768px) {
  .panel-payment {
    float: left;
    margin: 0 0 0 8px
  }
}

.panel-payment:before {
  display: none;
  content: '';
  position: absolute;
  background-image: url('img/icons-sb369aeac3d.png');
  background-position: 0 -38px;
  background-repeat: no-repeat;
  height: 189px;
  width: 157px;
  right: 0;
  top: 50%;
  margin-top: -40px
}

@media only screen and (min-width: 480px) {
  .panel-payment:before {
    display: block
  }
}

.panel-payment-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px
}

.panel-payment ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.equipment {
  padding: 30px 0
}

.equipment .title {
  margin: 0 0 30px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
  color: #201d57;
  text-align: center
}

.equipment-list {
  list-style: none;
  max-width: 875px;
  margin: 0 auto
}

@media only screen and (min-width: 768px) {
  .equipment-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
  }
}

.equipment-item {
  width: 275px;
  margin: 0 auto 50px;
  font-size: 16px;
  line-height: 24px
}

@media only screen and (min-width: 768px) {
  .equipment-item {
    margin: 0 0 50px
  }
}

.equipment-title {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
  margin: 0 0 20px
}

.equipment-img {
  font-size: 0;
  height: 360px;
  line-height: 360px;
  margin: 0 0 20px
}

.equipment-img img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom
}

.equipment dl {
  margin: 10px 0
}

.equipment dl dt {
  font-size: inherit;
  color: #383838
}

.equipment dl dd {
  color: #898989
}

.equipment p {
  margin: 10px 0
}

.equipment-cost {
  color: #383838;
  font-weight: bold
}

.dop {
  padding: 0
}

.dop .title {
  margin: 0 0 30px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
  color: #201d57;
  text-align: center
}

.dop-list {
  list-style: none;
  margin: 0 auto
}

@media only screen and (min-width: 992px) {
  .dop-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
  }
}

.dop-item {
  width: 480px;
  max-width: 100%;
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.25em;
  *zoom: 1
}

.dop-item:after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (min-width: 768px) {
  .dop-item {
    margin: 20px auto
  }
}

@media only screen and (min-width: 992px) {
  .dop-item {
    margin: 0 0 25px
  }
}

.dop-title {
  font-size: 18px;
  font-weight: bold;
  color: #383838;
  margin: 0 0 20px
}

.dop-img {
  font-size: 0;
  max-width: 150px;
  margin: 0 0 0px
}

@media only screen and (min-width: 768px) {
  .dop-img {
    float: left;
    margin: 0 0px
  }
}

@media only screen and (min-width: 1200px) {
  .dop-img {
    max-width: none
  }
}

.dop-img img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom
}

.dop dl {
  margin: 10px 0
}

.dop dl dt {
  font-size: inherit;
  color: #383838
}

.dop dl dd {
  color: #898989
}

.dop p {
  margin: 10px 0
}

.dop .dop-cost {
  margin: 20px 0;
  color: #383838;
  font-weight: bold
}

.cost {
  padding: 0
}

@media only screen and (min-width: 1200px) {
  .cost {
    padding: 50px 0
  }
}

.cost .title {
  margin: 0 0 30px;
  font-size: 38px;
  line-height: normal;
  text-align: center;
  color: #201d57;
  font-weight: bold
}

@media only screen and (min-width: 768px) {
  .cost .title {
    font-size: 46px;
    margin: 0 0 45px
  }
}

.pagination {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}


@media only screen and (min-width: 768px) {
  .pagination-title {
    width: 200px;
    line-height: 40px;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
  }
}

.pagination ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer
}

.pagination li.active {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70%;
  color: #1254B5;
  cursor: default
}

.costtable-checkbox {
  display: block
}

@media only screen and (min-width: 992px) {
  .costtable-checkbox {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
  }
}

@media only screen and (min-width: 1200px) {
  .costtable-checkbox {
    position: static;
    margin-right: 75px
  }
}

.costtable ul {
  margin: 0 1px 1px 0;
  list-style: none;
  *zoom: 1
}

.costtable ul:after {
  content: "";
  display: table;
  clear: both
}

.costtable li {
  float: left;
  text-align: center
}

.costtable li.start {
  width: 50%
}

@media only screen and (min-width: 480px) {
  .costtable li.start {
    width: 33.33%
  }
}

@media only screen and (min-width: 768px) {
  .costtable li.start {
    width: 20%
  }
}

.costtable li.base {
  width: 50%
}

@media only screen and (min-width: 480px) {
  .costtable li.base {
    width: 33.33%
  }
}

@media only screen and (min-width: 768px) {
  .costtable li.base {
    width: 20%
  }
}

.costtable li.light {
  width: 50%
}

@media only screen and (min-width: 480px) {
  .costtable li.light {
    width: 33.33%
  }
}

@media only screen and (min-width: 768px) {
  .costtable li.light {
    width: 20%
  }
}

.costtable li.optima {
  width: 50%
}

@media only screen and (min-width: 480px) {
  .costtable li.optima {
    width: 50%
  }
}

@media only screen and (min-width: 768px) {
  .costtable li.optima {
    width: 20%
  }
}

.costtable li.maxi {
  width: 100%
}

@media only screen and (min-width: 480px) {
  .costtable li.maxi {
    width: 50%
  }
}

@media only screen and (min-width: 768px) {
  .costtable li.maxi {
    width: 20%
  }
}

.costtable-text {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  text-align: center;
  color: $blue;
  margin-top: 22px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  text-transform: uppercase
}

.costtable-text > span {
  display: block;
  margin-top: 13px;
  color: #4F4F4F
}

.active .costtable-text {
  color: #fff
}

.active .costtable-text span {
  color: #fff
}

.costtable-item-btn {
  display: none;
}

.active .costtable-item-btn {
  display: block;
}

//.active .costtable-item-btn:active {
//  background-color: $white;
//  color: $blue
//}

.costtable-item {
  position: relative;
  border: 1px solid #e0e0e0;
  font-size: 0;
  height: 155px;
  line-height: 70px;
  //margin: 0 -1px -1px 0;
  cursor: pointer
}

.active .costtable-item {
  z-index: 1;
  border-color: $blue;
  background: $blue;
  cursor: default
}

.costtable-compare {
  display: none;
  margin: 10px 0;
  font-size: 15px;
  color: #858585;
  cursor: pointer
}

.active .costtable-compare {
  display: none
}

@media only screen and (min-width: 768px) {
  .costtable-compare {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
  }
}

.costtable-arr {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 6px;
  height: 9px;
  margin-left: 10px;
  fill: #858585
}

.costcompare {
  margin: 22px 0 50px
}

@media only screen and (min-width: 768px) {
  .costcompare-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
  }
}

@media only screen and (min-width: 768px) {
  .costcompare-item {
    width: 44%
  }
}

@media only screen and (min-width: 992px) {
  .costcompare-item {
    width: 415px
  }
}

@media only screen and (min-width: 1200px) {
  .costcompare-item {
    width: 520px
  }
}

.costcompare-item-right {
  display: none
}

@media only screen and (min-width: 768px) {
  .costcompare-item-right {
    display: block
  }
}

.costcompare-item .gray {
  font-size: 14px;
  color: #a2a2a2
}

.costcompare-text {
  max-width: 420px;
  padding: 10px 0
}

@media only screen and (min-width: 1200px) {
  .costcompare-text {
    padding: 12px 20px
  }
}

.costcompare-title {
  font-size: 24px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase
}

.costcompare-difference {
  display: none;
  height: 0;
  margin: 20px 0;
  border-top: 1px solid #e0e0e0;
  text-align: center
}

@media only screen and (min-width: 768px) {
  .costcompare-difference {
    display: block
  }
}

@media only screen and (min-width: 1200px) {
  .costcompare-difference {
    margin: 30px 0 20px
  }
}

.costcompare-difference span {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 10px;
  background: #fff;
  margin-top: -9px;
  font-size: 14px;
  line-height: 1em;
  color: #a2a2a2
}

.costcompare-difference-mobile {
  margin: 30px 0 20px;
  color: #201d57;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: bold
}

@media only screen and (min-width: 768px) {
  .costcompare-difference-mobile {
    display: none
  }
}

.feedback {
  padding: 40px 0
}

@media only screen and (min-width: 480px) {
  .feedback {
    padding: 50px 0
  }
}

@media only screen and (min-width: 768px) {
  .feedback {
    padding: 70px 0 100px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0ZThmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ2YjdmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94e8ff), color-stop(100%, #46b7ff));
    background-image: -moz-linear-gradient(#94e8ff, #46b7ff);
    background-image: -webkit-linear-gradient(#94e8ff, #46b7ff);
    background-image: linear-gradient(#94e8ff, #46b7ff)
  }
}

.feedback-content {
  text-align: left;
  max-width: 520px
}

@media only screen and (min-width: 768px) {
  .feedback-content {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
  }
}

.feedback-title {
  font-size: 21px;
  line-height: 24px;
  color: #00091a;
  margin: 0 10px
}

@media only screen and (min-width: 480px) {
  .feedback-title {
    font-size: 24px;
    line-height: 32px
  }
}

@media only screen and (min-width: 768px) {
  .feedback-title {
    font-size: 26px
  }
}

.feedback-item {
  position: relative;
  margin-top: 18px
}

.feedback-item:first-child {
  margin-top: 0
}

@media only screen and (min-width: 768px) {
  .feedback-item-short {
    margin-right: 335px
  }
}

@media only screen and (min-width: 992px) {
  .feedback-item-short {
    margin-right: 190px
  }
}

.feedback-item-title {
  font-size: 15px;
  color: #6f6f6f;
  margin: 0 15px 5px
}

.feedback-item-btn {
  margin-top: 35px
}

.contact-wordpress .wpcf7-not-valid-tip {
  margin-left: 15px;
  font-size: 15px
}

.contact-wordpress .feedback-item .ajax-loader {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  background: url(img/loader.gif) no-repeat center center
}

.nerta .wpcf7-validation-errors {
  margin: 10px 0 0;
  padding: 0;
  border: none;
  font-size: 15px;
  color: red
}

.nerta .wpcf7-mail-sent-ok {
  margin: 10px 0 0;
  padding: 0;
  border: none;
  font-size: 15px;
  color: #1eba6f
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 25px;
  color: #181818;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #d2d2d2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

.form-control.wpcf7-not-valid {
  border-color: red
}

.form-control.wpcf7-valid {
  border-color: green
}

textarea.form-control {
  height: auto
}

.shadow {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  overflow: auto;
  white-space: nowrap
}

.shadow:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline
}

.popup {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 450px;
  min-width: 300px;
  background: #fff;
  margin: 20px;
  padding: 20px;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  white-space: normal
}

.popup .feedback-title {
  margin: 0 10px -10px;
  font-size: 21px;
  line-height: 24px;
  color: #00091a
}

.inner-header {
  padding: 15px 0 25px;
  background: #090a47;
  color: #fff;
  text-align: center
}

.inner-header-company {
  font-size: 15px;
  line-height: 32px;
  font-weight: bold
}

.inner-header h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: gilroyextrabold, Arial, sans-serif
}

@media only screen and (min-width: 480px) {
  .inner-header h1 {
    font-size: 60px;
    line-height: 70px
  }
}

.about {
  padding: 35px 0
}

.about-text {
  max-width: 550px;
  text-align: center;
  margin: 0 auto
}

.about-text p {
  margin: 15px 0
}

.advantages {
  overflow: hidden
}

.advantages-title {
  padding: 15px 0;
  font-size: 28px;
  line-height: 1em;
  color: #201d57;
  text-align: center;
  font-weight: bold
}

@media only screen and (min-width: 480px) {
  .advantages-title {
    padding: 20px 0;
    font-size: 34px
  }
}

.advantages-list {
  overflow: hidden
}

@media only screen and (min-width: 768px) {
  .advantages-list {
    margin: 0 -3px 1px -1px
  }
}

.advantages-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@media only screen and (min-width: 768px) {
  .advantages-item {
    border: 1px solid #eaeaea;
    width: 50%;
    float: left;
    margin: 0 0 -1px -1px;
    height: 315px
  }
}

.advantages-content {
  max-width: 300px;
  padding: 30px 20px;
  margin: 0 auto;
  text-align: center
}

@media only screen and (min-width: 768px) {
  .advantages-content {
    padding-top: 35px;
    padding-bottom: 0
  }
}

.advantages-content .title {
  color: #201d57;
  font-weight: bold
}

.advantages-img {
  height: 80px;
  width: 80px;
  margin: 0 0 20px;
  fill: #bfbfbf
}

.projects {
  padding: 20px 0
}

@media only screen and (min-width: 768px) {
  .projects {
    display: block
  }
}

.projects .title {
  margin: 0 0 20px;
  color: #201d57;
  font-size: 34px;
  line-height: 1.25em;
  text-align: center;
  font-weight: bold
}

.projects-map {
  display: none;
  text-align: center
}

@media only screen and (min-width: 768px) {
  .projects-map {
    margin: 50px 0 85px;
    display: block;
    height: 400px
  }
}

@media only screen and (min-width: 992px) {
  .projects-map {
    height: 500px
  }
}

@media only screen and (min-width: 1200px) {
  .projects-map {
    height: 600px
  }
}

.projects-map img {
  max-width: 100%;
  height: auto
}

.projects-thanks {
  margin: 50px 0;
  overflow-x: auto
}

.projects-thanks::-webkit-scrollbar, .projects-thanks::-webkit-scrollbar-button, .projects-thanks::-webkit-scrollbar-track, .projects-thanks::-webkit-scrollbar-track-piece, .projects-thanks::-webkit-scrollbar-thumb, .projects-thanks::-webkit-scrollbar-corner, .projects-thanks::-webkit-resizer {
  height: 0;
  width: 0;
  opacity: 0
}

.projects-thanks-list {
  font-size: 0;
  text-align: center;
  white-space: nowrap
}

.projects-thanks-item {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 12px;
  height: 250px;
  width: 175px;
  line-height: 250px;
  text-align: center;
  -moz-box-shadow: rgba(184, 184, 184, 0.3) 0 6px 7px;
  -webkit-box-shadow: rgba(184, 184, 184, 0.3) 0 6px 7px;
  box-shadow: rgba(184, 184, 184, 0.3) 0 6px 7px
}

@media only screen and (min-width: 480px) {
  .projects-thanks-item {
    margin: 12px 32px
  }
}

.projects-thanks-item img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle
}

.contacts {
  padding: 50px 0
}

.contacts-info {
  margin: 0 10px 30px
}

@media only screen and (min-width: 768px) {
  .contacts-info {
    float: right;
    padding: 15px 20px;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 285px
  }
}

.contacts-info dl {
  margin: 0 0 25px
}

.contacts-info dl:last-child {
  margin-bottom: 0
}

.contacts-info dl dt {
  font-weight: bold;
  margin-bottom: 3px
}

.contacts-info dl a {
  text-decoration: none;
  color: inherit
}

.contacts-form {
  max-width: 705px;
  padding-top: 10px;
  padding-bottom: 50px
}

.contacts-form .title {
  margin: 0 15px 45px;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  color: #201d57
}

.contacts-form-btns {
  *zoom: 1
}

.contacts-form-btns:after {
  content: "";
  display: table;
  clear: both
}

.contacts-form-btns .btn {
  padding: 0 60px
}

.contacts-form-btns .btn-file {
  padding: 0 25px
}

.contacts-form-add {
  margin: 0 0 18px
}

@media only screen and (min-width: 480px) {
  .contacts-form-add {
    float: left
  }
}

@media only screen and (min-width: 480px) {
  .contacts-form-send {
    float: right
  }
}

.map {
  height: 545px
}

.tooltip {
  position: absolute;
  width: 200px;
  text-align: center
}

.tooltip-text {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 10px 30px;
  font-size: 15px;
  line-height: 20px;
  color: #00013c;
  background: white;
  border: 1px solid #00013c;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px
}

.tooltip p {
  margin: 0
}

.city {
  position: relative;
  z-index: 1;
  cursor: pointer
}

.city:hover {
  z-index: 5
}

.services-feedback {
  display: none
}

@media only screen and (min-width: 1200px) {
  .services-feedback {
    display: block;
    float: right;
    margin: 20px 10px;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 325px
  }
}

.services-feedback .feedback-title {
  margin: 0 10px -10px;
  font-size: 21px;
  line-height: 24px;
  color: #00091a
}

.services-text h2, .services-text .h2 {
  max-width: 750px;
  margin: 0 0 22px;
  font-size: 32px;
  line-height: 1.25em;
  font-weight: bold;
  color: #201d57
}

.services-text h3, .services-text .h3 {
  display: block;
  font-weight: bold;
  color: #201d57;
  max-width: 750px
}

.services-text p {
  max-width: 750px;
  margin: 0 0 22px
}

.services-text ul {
  max-width: 750px;
  margin-bottom: 22px;
  list-style: disc;
  padding: 0 0 0 20px
}

.services-text ul li {
  margin-bottom: 2px
}

.countries {
  *zoom: 1;
  max-width: 870px;
  margin: 0 auto 35px;
  color: #00013c;
  font-size: 18px;
  line-height: 1.5em
}

.countries:after {
  content: "";
  display: table;
  clear: both
}

.countries-list {
  list-style: none;
  margin: 0;
  padding: 0
}

@media only screen and (min-width: 768px) {
  .countries-list {
    min-width: 290px;
    float: left;
    margin: 0 10px 37px
  }
}

.countries-list li {
  padding: 5px 0
}

.nerta-metaslider {
  margin: 0 auto
}

.nerta-metaslider .metaslider {
  max-width: 1200px
}

.nerta-metaslider .metaslider .flex-direction-nav {
  display: none
}

.nerta-metaslider .metaslider:hover .flex-direction-nav {
  display: block
}

.nerta-metaslider .metaslider .flex-control-nav {
  bottom: 16px
}

.nerta-metaslider .metaslider .flex-control-nav li a {
  margin: 0 5px;
  background: #e3e3e3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.nerta-metaslider .metaslider .flex-control-nav li a.flex-active {
  background: #090a47
}

.nerta-metaslider .metaslider .flexslider {
  margin-bottom: 0
}

.slider-text {
  margin: 5px 0;
  color: #00013c
}

.slider-text-name {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  font-weight: bold
}

.slider-text-equip {
  margin: 10px 0;
  font-size: 60px;
  line-height: 60px;
  font-family: gilroyextrabold, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center
}

.slider-text-service {
  margin: 0 0 20px;
  font-size: 38px;
  line-height: 1.25em;
  font-weight: bold;
  color: #201d57;
  text-align: center
}

.slider-text p {
  margin: 20px 0;
  text-align: center
}

.slider-text-list {
  width: 100%;
  border: none;
  margin: 20px 0 15px;
  font-size: 16px;
  line-height: 24px
}

.slider-text-list td {
  border: none;
  padding: 5px;
  font-weight: bold;
  text-align: center
}

.slider-text .delimetr {
  font-size: 0;
  display: block;
  text-indent: -999px;
  height: 0;
  overflow: hidden
}

@media only screen and (min-width: 768px) {
  .slider-text .delimetr {
    font-size: inherit;
    display: inline;
    text-indent: 0;
    height: auto;
    overflow: visible
  }
}

.gallery-switcher {
  margin: 20px 0;
  text-align: center
}

.gallery-switcher a, .gallery-switcher span {
  margin: 0 20px;
  cursor: pointer;
  color: #00013c;
  text-decoration: underline
}

.gallery-switcher a:hover, .gallery-switcher span:hover {
  text-decoration: none
}

.gallery-switcher a.active, .gallery-switcher span.active {
  font-weight: bold
}

.service-gallery {
  padding: 40px 0;
  margin-bottom: -40px;
  *zoom: 1
}

.service-gallery:after {
  content: "";
  display: table;
  clear: both
}

.service-gallery-item {
  margin: 0 0 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@media only screen and (min-width: 768px) {
  .service-gallery-item {
    float: left;
    width: 50%;
    padding: 0 0 0 22px
  }
}

@media only screen and (min-width: 768px) {
  .service-gallery-item:nth-child(odd) {
    clear: left;
    width: 50%;
    padding: 0 22px 0 0
  }
}

.service-gallery-item img {
  max-width: 100%;
  height: auto
}

.service-gallery-title {
  font-weight: bold;
  color: #201d57;
  margin: 0 0 10px
}

@font-face {
  font-family: "Sans-regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/PTS55F.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Sans-regular-bold";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/PTS75F.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Sans-bold-italic";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/PTS76F.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Sans-italic";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/PTS56F.ttf") format("truetype");
  font-display: swap;
}

#nerta-main-page .container h1 {
  margin-top: 85px;
  max-width: 561px;
  color: #ffffff;
  font-family: "gilroyextrabold", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  border-left: 4px solid #fff000;
  line-height: 44pt;
  padding-left: 14px;

}

.sans {
  font-family: "Sans-regular", sans-serif;
}

hr {
  height: 1px;
  background-color: #c6c6c6;
  border: 0px;
}

#nerta-main-page #main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('img/options/nerta_sw_bckgrnd.jpg') no-repeat left top;
  background-position-x: left;
  background-position-y: top;
  background-size: auto;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#nerta-main-page #main-theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  opacity: 0.75;
  background: #00013c no-repeat left top;
  background-position-x: left;
  background-position-y: top;
  background-size: auto;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}


//#nerta-main-page.nerta-second #main-img {
//  background: url(/nerta-sw.ru/wp-content/uploads/2020/07/mainbg.jpg) no-repeat left top;
//  background-position: 100%;
//  background-position-x: left;
//  background-position-y: top;
//  background-size: auto;
//  background-position: center center;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  -webkit-background-size: cover;
//  background-size: cover;
//}

.sec-icon-block {
  display: none;
}

.first-column {
  margin-left: 2.5%;
}

ul#main-list {
  margin-left: 0;
  padding-left: 0;
  width: 50%;
  margin-top: 50px;
}

ul#main-list li {
  padding: 16px 5px;
  font-family: "Sans-regular", sans-serif;
  font-size: 21px;
  list-style-type: disc;
  font-weight: 400;
  margin-left: 25px;
  position: relative;
  left: -5px;
  text-align: left;
}

#main-list li span,
#main-list li a {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

#working_from {
  float: right;
  width: 30%;
  height: 50px;
  color: #292929;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: white;
  border-radius: 50px 0px 0px 50px;
  padding-top: 10px;
  padding-left: 25px;
  line-height: 20px;
  position: absolute;
  top: 88%;
  left: 69%;

}

div.costcompare-list:nth-child(11),
div.costcompare-difference:nth-child(10),
div.costcompare-list:nth-child(12),
div.costcompare-list:nth-child(13),
div.costcompare-difference:nth-child(14),
.costcompare-difference-mobile,
div.costcompare-list:nth-child(16),
div.costcompare-list:nth-child(17),
div.costcompare-list:nth-child(18),
div.costcompare-list:nth-child(19),
div.costcompare-list:nth-child(20),
div.costcompare-list:nth-child(21),
div.costcompare-list:nth-child(22),
div.costcompare-list:nth-child(23),
div.costcompare-list:nth-child(24),
div.costcompare-list:nth-child(25),
div.costcompare-list:nth-child(26),
div.costcompare-list:nth-child(27) {


}

.ex-img-in {

}

#nerta-main-page .cost {
  padding: 0px;
}

.left-image {
  display: block;
  max-width: 602px;
  height: 401px;
  //background-image: url();
  float: left;
  width: 100%;
}

div.left-child {
  margin: 35px 25px;

}

.left-block {

}

.left {
  float: left;
  max-width: 560px;
  width: 100%;
  display: block;
}

#img-5 {

  float: left;

  max-width: 598px;
  width: 100%;
  display: block;
}

#img-6 {

  float: left;

  max-width: 541px;
  width: auto;


  display: block;

}


#nerta-main-page .options-wrapper {
  margin: 0px !important;
}

#nerta-main-page .title {
  max-width: 100% !important;
  padding: 50px 0px !important;
  text-align: center;
}

.b {
  font-weight: bold;
}

#nerta-main-page .title {
  font-size: 38px;
  font-weight: bold;
  line-height: normal;
  color: #090a47;

}

@media only screen and (min-width: 768px) {

}

#nerta-main-page .options {
  padding-bottom: 0px !important;
}

.grey {
  color: #727272;
}

.options-text {
  font-family: "Sans-regular", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

.dop-item li {
  list-style-type: disc;
  margin: 10px 0px;
}

.icon {

  float: left;
  width: 20%;
  max-width: 25%;
  padding: 8.2%;
  padding-top: 8.2%;
  padding-bottom: 8.2%;
  padding-bottom: 34px;
  padding-top: 10px;
  width: 8.5%;
  min-width: 100px;
}

#ul-ic li {
  height: 91px;
  display: block;
  text-align: center;
  float: left;
  /* padding: 15px 3%; */
  max-width: 25%;
  width: 25%;
  font-size: 21px;
  min-width: 230px;
}

#ul-ic li:nth-child(1) {
  padding-top: 15px;
}

#ul-ic li:nth-child(2) {
  padding-top: 15px;
}

#ul-ic li:nth-child(3) {

}

#ul-ic li::after {
  content: " ";
  display: block;
  width: 3px;
  height: 35px;
  background: #1c1c50;
  position: relative;
  top: -31px;
}

#ul-ic li:nth-child(1)::after {
  display: none;
}

#ul-ic li:nth-child(4)::after {
  top: -44px;
}

#ul-ic li:nth-child(3)::after {
  top: -44px;
}

#ul-ic {
  margin: 0px;
  padding: 10px 0px;

  border-radius: 50px;
  clear: both;
  margin-bottom: 74px;
}

#ul-ic li:nth-child(1) {

}

#ul-ic li:nth-child(4) {

}

/*                */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  dt {
    padding-left: 0px !important;
    padding-top: 0px !important;

  }
  dd {
    padding-bottom: 0px !important;
  }
  .modal-content {
    width: 100%;
  }
  #img-6 {
    margin: 0 auto;
    float: initial !important;

    display: block;
  }
  #nerta-main-page #main-theme {
    width: 100%;
  }
  ul#main-list li {
    font-size: 17px;
    padding: 10px 15px;

  }
  #nerta-main-page .container h1 {
    font-size: 28px;
  }
  .container {

  }
  #working_from {
    width: 50%;
  }
  #nerta-main-page > div:nth-child(3) {
    margin: 0px;

  }
  #ul-ic li {
    border: none;
    float: none;
    margin: 0 auto;
  }
  .main-top.main-top-new .container {
    padding-bottom: 20px;
  }

  .header-tel {
    padding: 0px 0;
    font-size: 16px;

  }
  .logo {
    margin-top: 10px;
  }
  .main-top.main-top-new {
    height: 100%;
  }
}

.main-top.main-top-new {
  height: 687px;

  padding: 0px;
}

.ic-1 img {
  max-width: 90px;
}

#h-inner-1 {
  position: relative;
  top: -14px;
  font-size: 36px;
  font-family: Arial;
  font-weight: bold;
}

#h-inner-2 {
  position: relative;
  top: 5px;
  font-size: 44pt;
  font-weight: 400;
  text-transform: uppercase;
  padding: 55px 0px 25px 0px;
  display: block;
  line-height: 0;
  padding-top: 23px;


}

.dop-item {
  width: 50%;
}

.oh {
  padding-left: 10px;
}

.panel {
  max-width: 964px;
  margin: 120px auto 0px auto;
}

.value {
  font-weight: bolder;
  color: #000;
}

.inner-header h1 {
  font-size: 40px;
  line-height: 34pt !important;
}

dd {
  font-size: 18px !important;
}

dt {
  margin: 0px !important;

}

dl, dt, dd {
  display: inline-block;
}

.f-inl {
  display: inline-block;
}

/*  */

.nerta-second ul h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

}

.nerta-second ul li span {
  border: none !important;
}

.panels-3 {
  padding-bottom: 50px;
}

.panels-3 > div {
  max-width: 330px;
  width: 30%;
  float: left;
}

.second-column {
  margin-left: 5%;
}

.third-column {
  margin-left: 5%;
}

.panels-3 img {
  margin: 0 auto;
  display: block;
  padding-bottom: 45px;
  max-width: 245px;
  height: 164px;
  width: 100%;

}

.second-page-table th {
  text-transform: uppercase;
  margin-bottom: 4px;

  font-weight: 700;

}

.second-page-table td {
  text-align: center;
  padding: 4.5px 0px;
}

.second-page-table td:nth-child(1) {
  font-weight: bold;
}

.gray {
  background-color: #f3f3f3;
}

.white-table td, .white-table th {
  background: #fff;
}

.second-page-table.white-table tr:nth-child(1) {
  border-bottom: 5px solid #f3f3f3;
}

.second-page-table.white-table td {
  border: 3px solid #f3f3f3;
}

.white {
  background-color: #fff;
}

.gray-table td, .gray-table th {
  background: #f3f3f3;
  text-align: center;
}

.second-page-table.gray-table tr:nth-child(1) {
  border-bottom: 5px solid #fff;
}

.second-page-table.gray-table td {
  border: 3px solid #fff;
}

.gray-table th {

}

.main-attention-cont {
  background-color: #00013c;
  color: #fff;
  padding: 30px 60px 30px 60px;
  text-align: left;
  position: relative;
  margin-bottom: 50px;

}

.main-attention-cont::before {
  content: "";
  display: block;
  width: 10px;
  height: 45px;
  position: absolute;
  left: 30px;
  top: 35px;
  background-image: url('https://nerta-sw.ru/wp-content/uploads/2020/06/unnamed-file.png');
  background-repeat: no-repeat;
}

.list li {
  list-style: disc;
  padding-left: 0px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.list-numered li {
  list-style: decimal;
  padding-left: 0px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.column-row {
  max-width: 108px;
  width: 25%;

}

.column-icon {
  min-height: 75px;
  display: block;
  width: 75px;
  margin: 0 auto;
}

.column-container {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
}

.column-text {
  text-align: center;
  padding-top: 25px;
  width: 108px;
  display: block;
}

.quadrblock {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  max-width: 308px;
  max-height: 35px;
  background-color: #26275e;
  color: #fff;
}

.column-sub-header {

  background-color: #f3f3f3;
  color: #00013c;
  padding: 4px 0px 4px 0px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  z-index: 5;
  display: block;
  position: relative;
  height: 28px;
}

.right-sub {

  position: absolute;
}

.sub-header-line-left {
  float: left;
  width: 40%;
  position: absolute;
  background: #f3f3f3;
  height: 36px;
  z-index: 1;
}

.sub-header-line-right {
  float: right;
  width: 45%;
  position: relative;
  background: #f3f3f3;
  height: 36px;
  z-index: 1;
}

.third-blocks {
  color: #00f0ff !important;
  font-size: 30px;
  width: 33.33%;
  float: left;
  padding: 10px 10px;
  min-width: 341px;
}

.callback-on-panel {
  width: 336px;

  border: 3px solid #00f0ff;
  border-radius: 50px;
  padding: 19px 0px 21px 0px;
  cursor: pointer;
}

.table-panel {
  height: 100%;
  width: 1.3%;
  background-color: #1893d0;
  display: block;
  max-width: 4px !important;
  left: 100%;
  display: inline-block;
  float: left;
  min-height: 35px;
}


.in-table-th {
  display: inline-block;
  padding-top: 4px;
  text-align: center;
  width: 98.7%;
}

#img-5.right-pic img {
  float: right;
  width: 100%;
}

#img-5.right-pic {
  max-width: 580px;
  padding-left: 2.55%;
  width: 100%;
}

.third-blocks a {
  width: 250px;
  padding-top: 13px;
  display: inline-block;
  height: 28px;
  color: #00f0ff;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}

.third-group {
  padding-top: 40px;
}

.options-text table th {
  height: 35px;

}

.options-text table th span {
  padding-top: 4px;
}

i.under-image-i {
  font-style: italic;
  opacity: 0.6;
  padding-left: 10px;
  font-size: 15px;
}

i.under-image-i-right {
  float: right;
  padding-top: 7px;
}

.without-dots li {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

@media only screen and (max-width: 1150px) {
  .panels-3 > div {
    width: 100%;
    padding-top: 30px;


  }
  .third-column {
    margin-left: 0px;
  }
  .first-column {
    margin-left: 0px;
  }
  .panels-3 {
    max-width: 696px;
    margin: 0 auto;
  }
  .callback-on-panel {
    margin-top: 20px;
  }
  .third-blocks {
    width: 100%;
  }

  .third-group {
    max-width: 341px;
    margin: 0 auto;
  }
  .icon {
    width: 50%;
    max-width: 33.33%;
  }
  ul#main-list {
    width: 100%;
  }
  ul#main-list li {
    padding: 10px 0px;;
  }
  #h-inner-1 {
    font-size: 26px;
    top: -6px;
  }
  #h-inner-2 {
    font-size: 30pt;
    padding-top: 15px;
    top: 10px;
  }
  //h1:not(.main h1) {
  //  line-height: 24pt;
  //}

  #nerta-main-page .container h1 {

    margin-top: 45px;
  }
  ul#main-list {
    margin-top: 30px;
  }
  .main-top.main-top-new {
    height: 510px;
  }
  #working_from {
    display: none;
  }
  .dop-item {
    float: left;
  }
  #img-5, #img-6 {
    margin: 15px 0px 15px 0px !important;

  }
  .ex-img-in {
    padding-top: 20px;
  }
  .panel-item {
    margin: 0px;
  }
  .ex-img {
    margin: 0px;
  }
  .icon-block {
    display: none;
  }
  .sec-icon-block {
    display: block;
    max-width: 612px;
    margin: 0 auto;
  }
  .icon span {
    text-align: center;
    padding-top: 20px;
    display: block;
  }
  .discc {
    display: none !important;
  }
  #img-5 img {
    width: 100%;
  }
  #img-5.right-pic {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .options-text {
    float: left !important;
    padding-left: 8px;
  }


}

@media only screen and (max-width: 765px) {
  .header-tel {

  }
  .main-list li {
    font-size: 16px;

  }
  .main-top.main-top-new {
    height: 590px;
  }

  .nerta-second ul h2 {
    font-size: 18px;
  }
  .column-sub-header {
    padding-left: 8px;
  }
  .sub-header-line-left {
    display: none;
  }
  .panels-3 {

    max-width: 334px;
  }

  .second-column {
    margin: 0px;

  }
  .third-column {
    margin: 0px;
  }

}

@media only screen and (max-width: 700px) {
  .header-tel {
    padding-top: 10px;
  }

}

@media only screen and (max-width: 450px) {
  .header-tel {
    padding-top: 0px;
  }

}


.politika-agree {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: 'ubuntu-light';
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  color: #000;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 50px;
}