.menu.js-menu 
	background: $blue
	height: 40px
	li
		margin-right: 30px
		a
			+subtitle_4()
			color: $white
			text-transform: uppercase

	+phone()
		height: 50px
		background: $dark_blue
		
		ul
			display: none
		.menu-show-btn
			background: none
		.menu-show-btn::after, .menu-show-btn::before
			background: $white
		.menu-show-btn::before
			box-shadow: $white 0 -8px,$white 0 8px
+phone()
	.menu-open
		ul
			display: block!important

		.menu-show-btn::before
			box-shadow: none!important